[2019-05-08 09:19] szmarczak commented on #793
I meant I could not find anything about it in the readme. I haven't looked at the code yet. If it's possible but the readme doesn't say anything then it should be updated. But problem solved already by exposing the `response` object as in the master branch. I believe we will release V10 soon.

[2019-05-10 16:22] szmarczak commented on #167
@pietermees I just figured out that providing `agent` will cause sockets to be not reused. I don't think we can reuse sockets at all because people want the default Agent to manage the sockets.

Making the H1 Agent use our sockets is just too hard, IMO not worth it. I propose this:

1. Try to retrieve the ALPN protocol from our cache.
2. If the cache's empty, then open a new connection, retrieve t

[2019-05-11 04:34] rarkins opened #796 "Resuming downloads / caching"
#### What would you like to discuss?

I would like advice on whether `got`'s caching will automatically implement a "range" request on subsequent GETs, assuming caching is enabled.

- There is a file on a remote host that is appended to regularly
- I want to download it initially, then check for an incremental additions every 5 minutes
- Right now I do this by calling child process out to `wget --

[2019-05-11 04:47] lukechilds commented on #796
No it won't automatically do a range request.

Maybe I'm misunderstanding something but why do you need HTTP caching if the file is regularly updated and only appended to? Can't you just make an uncached range request every 5 minutes and update your local copy if there is new data?

[2019-05-11 05:06] rarkins commented on #796
That could also work. Are you aware of any examples? I tried a few variants of searching on "range" in this repo and didn't find anything. I suppose I should use the bytes value returned in response headers rather than trying to calculate it myself based on the response body?

[2019-05-11 09:27] rarkins commented on #796
I will close this, as I now realise that it wouldn't make sense to automatically perform a range request when caching.

FYI I've hit another problem (ReadError: incorrect header check) when implementing range manually, but I'll raise that as a separate issue if I conclude that it's a bug.

[2019-05-11 15:22] #796 closed

[2019-05-13 18:20] mastermatt opened #799 "Tests failures on macOS"
#### Describe the bug

[code]
Failing tests, in all cases the promises resolve:
 - `unix-socket.ts › throws on invalid URL`
 - `timeout.ts › secureConnect timeout`
 - `stream.ts › has error event #2`
 - `error.ts › catches dns errors`

Same results for Node v8.15.0, v10.15.3, and v12.2.0
#### Checklist

- [x] I have read the documentation.
- [x] I have tried my code with the latest version of Node

[2019-05-13 18:53] szmarczak commented on #799
/cc @sindresorhus

[2019-05-14 06:02] siqueira-ec opened #800 "set-cookie"
#### What would you like to discuss?

Sometimes 'set-cookie' doesn`t appear on 'headers' and 'cookies' appears on gotOptions.headers

Can someone explain?

I would like to make any request to certain site to issue a new cookie ('set-cookie'). What can i do?

#### Checklist

- [x] I have read the documentation.

[2019-05-14 06:13] sindresorhus commented on #799
Tests are passing for me using the same OS and Node.js versions.

[code]

[2019-05-14 06:46] szmarczak commented on #800
Something is [not right](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies). Servers send us `set-cookie`. We send them `cookie`.

[2019-05-14 14:47] mastermatt commented on #799
Hmmm, well shoot.
I've blown away my `node_modules` and re-installed with the same result.
Here is the lockfile that npm 6.9.0 created for me: https://gist.github.com/mastermatt/24ed0493f063cc36242d1264dc971180

[2019-05-14 15:41] szmarczak commented on #799
How did it create if `package-lock=false`? :confused:

[2019-05-14 16:22] mastermatt commented on #799
deleted that line for a minute.

[2019-05-14 19:33] szmarczak commented on #799
Just tested your lockfile on Linux (Solus):

[code]

[2019-05-14 21:48] mastermatt commented on #799
Very odd. If no one else has this problem feel free to ignore this and I'll play around with my machine in the next day or two.

[2019-05-15 00:35] danwashusen opened #801 "Issue aborting request before server returns response headers when streaming"
#### Describe the bug

 - Node.js version: v10.15.3
 - got version: 9.6.0
 - OS & version: Linux Mint 19.1 Tessa - 4.15.0-47-generic - x86_64

I've noticed that when using `got.stream` attempting to abort the request before the server has responded with headers locks up the piping methods (they never resolve/complete) even when a request timeout value is provided.

Aborting the request after the s

[2019-05-15 01:58] danwashusen commented on #801
I've managed to work around the lock-up by detecting the lack of a response when the request is aborted and sending a null value to the stream...

[code]

[2019-05-15 14:44] szmarczak commented on #801
I think what you're looking for is #767 (master branch)

[2019-05-15 14:45] szmarczak commented on #799
What are your Mac specs?

[2019-05-15 15:49] mastermatt commented on #799
Model Name:	MacBook Pro
  Model Identifier:	MacBookPro14,3
  Processor Name:	Intel Core i7
  Processor Speed:	2.8 GHz
  Number of Processors:	1
  Total Number of Cores:	4
  L2 Cache (per Core):	256 KB
  L3 Cache:	6 MB
  Memory:	16 GB
  Boot ROM Version:	190.0.0.0.0
  SMC Version (system):	2.45f0
  System Version:	macOS 10.14.4 (18E226)
  Kernel Version:	Darwin 18.5.0

[2019-05-15 22:09] danwashusen commented on #801
Just went to test against master but but it doesn't seem to be in a usable state, or its not backward compatible with the 9.6.0?

Just to clarify; the current release version (9.6.0) has a critical issue (real world usage results in the app locking up) and the fix is currently only available on master which is a re-write/port of got to TS?

[2019-05-16 00:05] szmarczak commented on #801
Yes, you have to wait for Got v10. Sorry for the delay, but there's still lots of work to do...

[2019-05-16 00:12] danwashusen commented on #801
All good, no need to apologise. I just wanted to make it clear for anyone else hitting this issue... :)

[2019-05-19 09:14] kapouer opened #803 "got.stream does not handle HPE_HEADER_OVERFLOW errors"
- Node.js version: 10.15.2
 - OS & version: linux debian/buster

When the requested url sends >= 8KB http headers
[code]
throws an unhandled rejection corresponding to a RequestError, code 'HPE_HEADER_OVERFLOW', message 'Parse Error'.

I suppose it should handle emit an error on the stream ?

[2019-05-19 09:57] sindresorhus commented on #803
You could increase the allowed header size: https://stackoverflow.com/a/55298067

Not really anything to handle for Got or you as the steam is already in an error state at that point.

[2019-05-19 09:59] sindresorhus commented on #803
Oh sorry, I missed that it was "unhandled". `.pipe()` doesn't forward errors (which I incredible dumb). However, you can use [`Stream.pipeline`](https://nodejs.org/api/stream.html#stream_stream_pipeline_streams_callback) instead, which properly forwards errors. We should definitely update our docs to use that instead.

[2019-05-19 11:14] kapouer commented on #803
TIL [Stream.pipeline](https://nodejs.org/api/stream.html#stream_stream_pipeline_streams_callback) ! Awesome !

[2019-05-19 21:26] JamesJGoodwin opened #804 "Is there going to be officially maintained @types/got package?"
Hello. Is there going to be any official typings package for got? As I understand, @types/got is maintained not by @sindresorhus so It gets outdated as soon as new version of got is out.

Also, it would be helpfull to get dedicated docs for typings.

[2019-05-19 21:36] sindresorhus commented on #804
Got is currently being rewritten in TypeScript. The next major version (no ETA, but hopefully in June) will ship with its own TypeScript definitions. Until then, `@types/got` is what you should use.

[2019-05-19 21:36] #804 closed

[2019-05-20 01:22] hutson commented on #722
Unfortunately my use cases typically revolve around querying slow services, so I benefit from processing each paged result as they're received instead of waiting for `got` to aggregate all pages together into a single result.

I strongly agree with the switch to thinking about results in terms of items and not pages. All I care about is receiving all results that match my URL query. Whether the se

[2019-05-20 07:50] sindresorhus commented on #722
@hutson We could have a `transform` callback or something so you could do processing. I think this is a common need.

[2019-05-20 09:45] plaa commented on #215
Can you provide a full example how to make timeouts work properly without retries?

The following code takes ~8 secs to run:

[code]

I've also tried `retry: { retries: 0 }` and `retries: 0` and haven't been able to reduce the timeout.

This *gotcha!* should be mentioned also in the documentation for `timeout` - if I say `timeout: 1000` I expect it to take max 1 second.

[2019-05-23 10:58] rifler commented on #746
my use case:
I want to cache every outgoing GET request within current incoming request.
I create express middleware
[code]
and pass it to got wrapper, similar to described in #723 , because I don't want RFC cache behaviour

It will be much more convenient to manage cache behaviour without any wrappers

[2019-05-23 17:37] dustinsmith1024 opened #806 "Using retry:<Number> in extend removes retry defaults"
#### Describe the bug

 - Node.js version: 10.15
 - OS & version:  Mac

Using `got.extend({ retry: 1})` removes all the other default retry settings. I understand the number is a shorthand for the object config, but this tripped me up for a bit.

#### Actual behavior

The `options.retry.methods`, `options.retry.errorsCodes` and `options.retry.statusCodes` becoming empty sets.
...

#### Expected be

[2019-05-23 20:53] chris-erickson commented on #713
Could you put the note at the very top? It doesn't exactly jump out of the page, for me.

<img width="957" alt="image" src="https://user-images.githubusercontent.com/3322287/58285476-683bbd00-7d72-11e9-88fa-28299e9a309d.png">

[2019-05-24 17:32] przemos opened #807 "Async hooks"
#### What problem are you trying to solve?
Hooks accepting async functions
...

#### Describe the feature
afterResponse hook could accept async function. The scenario is:
1) Got 401 response from the backend
2) Refresh the token with IdP (async)
3) retryWithMergedOptions

...

#### Checklist

- [x ] I have read the documentation and made sure this feature doesn't already exist.

[2019-05-24 17:32] #807 closed

[2019-05-24 17:32] przemos commented on #807
nvm

[2019-05-25 06:50] przemos opened #808 "AfterResponse hook invalid behaviour (JSON parsing)"
#### Describe the bug

 - Node.js version: all
 - OS & version: all
#### What would you like to discuss?

I've noticed an odd behaviour when calling get method on the got client with json:true option and with afterResponse hook installed (with got.extend).  The response in **as-promise.js** is parsed twice and thus causing an error.

First, afterResponse hook is generating a Promise which tries to

[2019-05-25 17:14] szmarczak commented on #808
1. Fill out the template properly.

What do you mean by "all"? Please specify.

So you tried Windows, MacOS, FreeBSD, Mint, Solus, Ubuntu (+ bunch of other distros?)

Please specify.

2. This is already fixed on master branch.

[2019-05-25 17:14] #808 closed

[2019-05-26 06:15] przemos commented on #808
cool, thanks, though, this is code issue so it is independent of node version or OS.
Master branch points to code in flux, so officially it is not fixed yet :)

[2019-05-26 06:56] szmarczak commented on #808
Not right. Some node modules work different for different OSes. When we ask for it, please fill out. Otherwise your issue could get marked as "invalid".

It is, but we haven't released it yet. Please look for merged PRs and see if the bug had been fixed before making a bug issue.

[2019-05-27 02:26] clemyan opened #810 "Pass response to beforeRedirect hook"
#### What problem are you trying to solve?

Currently, the `beforeRedirect` hook only receives the next request options as argument. However, having the response is very useful for things like checking the url from which the redirect is returned and the number of times the request has been redirected.

#### Describe the feature

The `beforeRedirect` hook will receive the original response (the one

[2019-05-28 05:29] Rokt33r opened #811 "cookieJar option throws an error while testing with jest"
#### Describe the bug

CookieJar does not work in Jest test. I assume using `util.promisify` for `setCookie` causes this problem. https://github.com/sindresorhus/got/blob/master/source/request-as-event-emitter.ts#L40

I confirmed that it worked after I rewrote promisifying part like the below.

[code]

 - Node.js version: 10.14.0
 - OS & version: macOS Mojave 10.14.4

#### Actual behavior

It shou

[2019-05-28 05:38] sindresorhus commented on #811
Closing in favor of https://github.com/facebook/jest/issues/4305. This should be fixed in Jest, not here. We're just using a Node.js built-on API.

[2019-05-28 05:38] #811 closed

[2019-05-28 23:52] pietermees commented on #167
@szmarczak could you explain why `agent` would prevent sockets from being reused? My understanding is that it's the opposite: `agent` with `keepAlive: true` is required to reuse sockets?

I'm concerned an ALPN cache might introduce some unexpected issues and behavior:
1. The same DNS name can point to many IPs, some of which can have one config, and some of which can have another.
2. Similarly, th

[2019-05-29 05:23] szmarczak commented on #167
I mean it reuses sockets for HTTP2. But to reuse sockets for HTTP1 you need to provide another agent because the H2 agent is not compatible with H1 agent. So in total there will be two sockets.

Reusing H2 sockets for H1 is a bad idea because H2 sockets must **not** be malformed. There are different settings for H2 and H1...

Another example: imagine all seats for free sessions are taken and you'v

[2019-05-29 17:07] moritzruth opened #813 "Trailing slash is appended when using baseUrl"
#### Describe the bug

 - Node.js version: 12.2.0
 - OS & version: Ubuntu 19.04

#### Actual behavior

[code]
requests `https://example.com/api/` (with a trailing slash).

#### Expected behavior

[code]
requests `https://example.com/api` (without a trailing slash).

#### Code to reproduce

[code]

#### Checklist

- [x] I have read the documentation.
- [x] I have tried my code with the latest versi

[2019-05-31 03:20] OmgImAlexis opened #814 "got.extend doesn't support "unix:" protocol"
#### Describe the bug

 - Node.js version: v10.13.0
 - OS & version: Unraid 6.8.0-rc0e

#### Actual behavior

[code]

#### Expected behavior

[code]

#### Code to reproduce

Doesn't work:
[code]

Works:
[code]

#### Checklist

- [x] I have read the documentation.
- [x] I have tried my code with the latest version of Node.js and Got.

[2019-05-31 04:22] OmgImAlexis commented on #814
I found a work around but this seems wrong to use.

[code]

[2019-05-31 07:19] sm2017 opened #815 "Keep alive"
#### What would you like to discuss?

How can I keep alive connection?
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Keep-Alive

I want to have some connection pool and keep alive them, reuse them for better performance
Do you have connection pool support out of the box?

#### Checklist

- [x]  I have read the documentation.

[2019-05-31 07:43] sindresorhus commented on #815
You can use the `agent` option:
- https://github.com/sindresorhus/got#agent
- https://github.com/sindresorhus/package-json/blob/af8851efb342111d098ca38d3ed51f9007fbf146/index.js#L10-L17

[2019-05-31 08:26] sm2017 commented on #815
@sindresorhus what about pooling?

[2019-05-31 08:36] sindresorhus commented on #815
https://stackoverflow.com/questions/17375021/how-to-manage-node-js-request-connection-pool

[2019-05-31 08:52] #815 closed

[2019-05-31 13:17] szmarczak commented on #813
Please read the docs before making an issue.

[2019-05-31 13:17] #813 closed

[2019-05-31 21:09] pramprajak opened #816 "https://bbbs.bacc1688.com/HandHeld/Index"
#### Describe the bug

 - Node.js version:
 - OS & version:

#### Actual behavior

...

#### Expected behavior

...

#### Code to reproduce

[code]

#### Checklist

- [ ] I have read the documentation.
- [ ] I have tried my code with the latest version of Node.js and Got.

[2019-05-31 21:09] pramprajak commented on #816
Run 12333323#@

[2019-06-02 05:34] nihal9ns commented on #799
@sindresorhus I am also experiencing weird issues with my tests. `got` seems to be working fine in node 10 but the moment I bumped my node version to 12.2.0, my tests started failing but my app still works fine. I use `nock` to mock api calls. I get weird errors with got. `err: GotError [RequestError]: connect ECONNREFUSED 127.0.0.1:443`

[2019-06-02 05:38] nihal9ns commented on #799
@sindresorhus Sometimes it throws an illegal arg error `
First param must be a string, buffer....
`

[2019-06-02 08:15] moritzruth commented on #813
I read the docs more than once.

[2019-06-03 11:42] yamalight opened #817 "Got.js throws ERR_INVALID_ARG_TYPE when mocking with nock on Node 12.x"
#### Describe the bug

 - Node.js version: 12.x
 - OS & version: any

Trying to use nock with Got in Node 12.x breaks Got with `ERR_INVALID_ARG_TYPE`.

#### Actual behavior

When mocking API with nock.js - on request Got.js throws ERR_INVALID_ARG_TYPE and dies.

#### Expected behavior

Should correctly handle request to nock server.

#### Code to reproduce

[code]

Here's an interactive demo:
http

[2019-06-03 13:48] yamalight commented on #817
@sindresorhus yes, I've tried using other libs and they seem to work fine.
I've added `node-fetch` and `axios` to [interactive demo](https://runkit.com/yamalight/5cf50559b975d2001a4dfaa8) to demonstrate that they work fine.

[2019-06-03 15:36] szmarczak commented on #813
Note the first example: the slash in `baseUrl` option is not included, but the final URL is `/hello`.

IOW unless you provide an absolute URL it will add a slash because `baseUrl` is a [`path-absolute-URL`](https://url.spec.whatwg.org/#path-absolute-url-string) (it always ends with a slash).

[2019-06-03 15:38] szmarczak commented on #813
Anyway, this is about to change. Take a look at this conversation: #783 :smiley:

[2019-06-03 15:41] szmarczak commented on #817
Make sure you're running `11.0.0-beta.13`: https://github.com/nock/nock/issues/1509#issuecomment-490904028

Let us know then.

[2019-06-03 17:07] yamalight commented on #817
@szmarczak yep, that does indeed fixes it. Somehow misread it and thought fix was shipped in 10.0.6. Sorry for the bother and thanks for help! 😅

[2019-06-03 17:07] #817 closed

[2019-06-03 18:57] szmarczak commented on #817
No problem :)

[2019-06-03 22:29] anagorsky opened #818 "There is a code difference between npm package and repository for 9.6.0"
The source code of latest npm package does not match with current code of this repository, while version is the same. It leads to misunderstanding and makes documentation not corresponding declared functionality.

#### Actual example

For example, npm **as-promise.js** file does not contain **beforeError** hook handler which I currently try to use.

#### Expected behavior

Please, update npm packa

[2019-06-05 08:58] HellMagic commented on #818
i also have the problem, and i found the promise instance in as-promise.js doesn't have like json()、text() method, but they are found in as-promise.ts。

[2019-06-05 10:11] HellMagic opened #819 "how to use retry and beforeRetry hook?"
#### What would you like to discuss?
test how to use retry feature, or if i miss some important thing, please show me a correct example.

#### Checklist

- [x ] I have read the documentation.

#### Actual behavior
beforeRetry hook just be called once

#### Expected behavior
beforeRetry hook should be called as times as retries count

#### Code to reproduce
[code]
the output shows my custom retry o

[2019-06-05 21:43] szmarczak commented on #819
This sounds like a bug...

1. What's your OS?
2. What's your Node version?
3. What's your Got version?

Please try the master branch. Let us know if it's not fixed there.

[2019-06-06 01:53] HellMagic commented on #819
@szmarczak thanks for reply, i think maybe it isn't a bug, but about the [nock](https://github.com/nock/nock) module, because got work well if i use a normal express/koa server, so this issues can be closed, of course, if have some idea please let me know.

OS: 10.14.5
Node Version: v8.11.0
Got Version: v9.6.0
nock Version: v10.0.6

[2019-06-06 03:55] szmarczak commented on #819
It gives:

[code]

Please don't report non-Got issues in the future this is not the right place.

[2019-06-06 03:55] #819 closed

[2019-06-06 04:05] sindresorhus commented on #818
This is clearly documented at the top of the readme:

[2019-06-06 04:05] #818 closed

[2019-06-06 09:46] rainder commented on #167
@pietermees Thanks for the [example](https://gist.github.com/pietermees/cb9d8cc69e4c6bf05499aa8e1e6426c5). However, there seems to be a serious incompatibility with got implementation. Request just crashes the app on failure. Easy steps to reproduce:

- make `runTest('http2-alpn', 'https://some-domain.com')` to call every second so that you can make sure connection gets reused
- after few successf

[2019-06-14 02:59] timlesallen commented on #639
Hey.

Is `promise.json()` a v10 thing?  It's mentioned in the doco gut doesn't seem to work in 9.6.
[code]
`TypeError: got(...).json is not a function`

Also, `resolveBodyOnly` is also documented but seems not be in 9.x?

[2019-06-14 04:49] sindresorhus commented on #639
@timlesallen From the top of the readme:

[2019-06-17 10:11] sindresorhus commented on #792
Seems like this can be closed now that https://github.com/lukechilds/cacheable-request/issues/30 is closed?

[2019-06-17 10:28] #800 closed

[2019-06-17 10:32] sindresorhus commented on #799
Closing as we're not able to reproduce this.

[2019-06-17 10:32] #799 closed

[2019-06-17 20:28] szmarczak commented on #792
Yeah... I think so. We could still improve this by pregenerating the instance on `got.create()`/`got.extend()` and regenerate if someone provides custom `request` or `cache` option. What do you think?

[2019-06-19 07:59] sa-spag commented on #568
Hey there, RFC 2616 is obsoleted by [RFC 7231 which states](https://tools.ietf.org/html/rfc7231#section-6.4):

Should we reopen this issue?

[2019-06-20 06:55] sindresorhus commented on #758
To prevent any duplicate work, I just want to make it clear that @vladfrangu is currently working on this issue :)

[2019-06-20 10:38] sindresorhus commented on #795
What Node.js version is this from? Are you sure this is caused by wrapping the error and not by catching and then emitting the error asynchronously? Note that Node.js 12 has support for async stack traces, so the error stacks should ideally be much better there. Could you try?

https://github.com/nodejs/node/issues/11865#issuecomment-452076537

[2019-06-21 07:27] #806 closed

[2019-06-21 08:55] gajus commented on #789
`global-agent` has since been updated to work with Node.js v10, improved error handling, logging and documentation.

[2019-06-21 09:18] szmarczak opened #823 "Random timeout tests are failing"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/got/issues/823)

`setTimeout` is flawed - random timeout tests are failing.
We should use something like [`timekeeper`](https://github.com/vesln/timekeeper) or [`lolex`](https://github.com/sinonjs/lolex).

---

<details>
<summary>
<b>IssueHunt Summary</b>
<

[2019-06-21 12:46] #789 closed

[2019-06-21 13:03] Hacksore opened #824 "FormData is missing on GotBodyOptions definition"
#### Describe the bug

 - Node.js version: v10.6.0
 - OS & version: macOS Catalina

#### Actual behavior
Type 'FormData' is not assignable to type 'string | Buffer | Readable | undefined'.
  Type 'FormData' is missing the following properties from type 'Buffer': write, toJSON, equals, compare, and 76 more.

#### Expected behavior
Should be able to use a FormData object on the body for a request. H

[2019-06-21 13:09] Hacksore commented on #824
Seems the issue was my own, I was not importing FormData in my util class.

[2019-06-21 13:09] #824 closed

[2019-06-21 13:55] #786 closed

[2019-06-22 05:42] szmarczak commented on #801
Ah, you're using `request.abort()` instead of `stream.destroy()`. We need to fix streams there too.

[2019-06-23 09:34] Cerberooo commented on #356
@sindresorhus With native NodeJS (`{ get } = require('http')`) the IP is stored in the response object `response.connection.remoteAddress`. Is it possible to implement that also in Got, so no extra step is needed?

[2019-06-23 09:45] sindresorhus commented on #356
@Cerberooo Can you show a code example of how it would look like and how you would use it?

[2019-06-23 09:52] Cerberooo commented on #356
@sindresorhus I use it in a link checker tool to check only links from a specific IP range. Unfortunately I have to make two requests to get the IP address and the html of a link.

Example usage:
[code]

[2019-06-23 10:12] sindresorhus commented on #356
And you want this, correct?

[code]

---

Should it be `.ip`, `.ipAddress`, or `remoteAddress`?

@szmarczak Thoughts?

[2019-06-23 10:14] Cerberooo commented on #356
Yep, revised code because I misunderstood your question.

In Got there is the connection object too. So I think its good when the ip is there, because when there is no connection there cant be an ip.

[2019-06-23 11:43] szmarczak commented on #356
`.ip` or `.ipAddress` seems too general. I don't know if it's a local or remote IP. So either `.remoteIP` or `.remoteAddress`... Anyway I'm good with anything, it just needs to be documented. Let's choose one.

[2019-06-23 11:57] sindresorhus commented on #356
But it’s on the “response”. Doesn’t that make it clear it’s the remote IP?

[2019-06-23 12:49] szmarczak commented on #356
Yeah, it does. So maybe let's go with just `.ip`?

[2019-06-23 12:52] sindresorhus commented on #356
👍

[2019-06-24 07:37] #810 closed

[2019-06-26 14:13] #740 closed

[2019-06-27 09:02] nkint opened #825 "Got and typescript: why @types/got ?"
#### What would you like to discuss?

tltr: Why do I need `@types/got` ?

Hi!
Got is written in typescript but installing it via `npm install` does not seems to get types:

[code]

I get this result:

[code]

No `.d.ts` file in here, so vscode is not happy:

[code]

Good but not super good (the project is written in typescript, should have types definition), let's go with
[code]

Now vscode is hap

[2019-06-27 10:06] sindresorhus commented on #825
Duplicate of #804

[2019-06-27 10:06] #825 closed

[2019-07-06 20:35] paulmelnikow commented on #795
Hi! Sorry it's taken me a moment to get back to this.

I'm testing now in Node 10, and it's definitely the wrapping and not the async emitting that's causing it. If I comment out the wrapping and `emitError(error)`, the stack trace changes.

With wrapping:

[code]

Without:

[code]

The stack trace of the wrapped errors in Node 12 looks the same as in Node 10:

[code]

[2019-07-11 15:53] AndreMaz commented on #781
Hey guys, is there any time window for a new release containing the fix for this?

In meantime, is there any workaround for this?

[2019-07-11 17:25] szmarczak commented on #801
Actually `request.abort()` doesn't throw so if you're using it with streams you need to create the error on your own. `request.abort()` ends the stream, so this works as expected. The problem was with promises only.

[2019-07-11 17:25] #801 closed

[2019-07-11 17:29] #803 closed

[2019-07-11 19:52] szmarczak commented on #795
@paulmelnikow Can you provide some example?

[2019-07-11 20:31] paulmelnikow commented on #795
Sure! Here are two fairly small examples that show two different ways errors can be emitted through Nock. The first one trigger's nock's "no match for request" error, which is triggered when the application makes an unmocked request to a mocked hostname. It's one of the most common errors in Nock. The second one simulates a programmer error in a nock consumer.

[code]

I tried to add it in RunKit

[2019-07-11 20:45] szmarczak commented on #795
Thanks for the quick response! I'll solve this issue tomorrow because it's late here.

[2019-07-11 21:09] paulmelnikow commented on #795
Amazing! Let me know if there's anything I can help clarify :)

[2019-07-12 08:01] pgaubatz opened #831 "`beforeError` hook does not seem to work with `got.HTTPError`"
#### Describe the bug

 - Node.js version: v10.15.1
 - OS & version: Debian GNU/Linux 9.9 (stretch)

The `beforeError` hook does not trigger when an `got.HTTPError` is thrown.

#### Actual behavior

Given the code example below, the script does not output anything at all.

#### Expected behavior

However, the script is (at least that's what I'd expect) should output `beforeError hook called`.

###

[2019-07-12 09:56] szmarczak commented on #831
Duplicate of #781

[2019-07-12 09:56] #831 closed

[2019-07-12 10:24] szmarczak commented on #795
[code]

gives me:

[code]

IOW `RequestErrors` doesn't save the old stacktrace. Yup, this may seem odd.

[2019-07-12 10:36] szmarczak commented on #795
This is a bit complicated issue. I think the best way would be to access the original error via `requestErrorInstance.origin`...

Possible alternatives:
- https://github.com/borisdiakur/rerror
- https://github.com/joyent/node-verror

Anyway, IMHO the first one is most suitable.

[2019-07-12 10:37] szmarczak commented on #795
The least suitable solution would be to `requestErrorInstance.stack += '\n' + error.stack;`

[2019-07-12 17:24] szmarczak commented on #823
https://github.com/sindresorhus/got/commit/45a004726a2cbce7763181adbfb017117dea38b0 should solve this (temporarily). Although we still need to use `timekeeper`/`lolex` while testing because Travis is slow and sometimes we can get additional +100ms :thinking:

[2019-07-15 17:26] stevenvachon commented on #817
I'm using nock 11.0.0-beta.25 and I'm still experiencing this issue.

[2019-07-16 22:44] stevenvachon opened #834 "How to convert to a string stream?"
#### What would you like to discuss?
Setting the option `encoding: 'utf8'` (which is already the documented default) doesn't affect binary chunks.

#### Checklist

- [x] I have read the documentation.

[2019-07-17 04:01] sindresorhus commented on #834
Not clear exactly what you mean. Can you provide an example?

[2019-07-17 14:43] stevenvachon commented on #834
[code]

How can I set the encoding for a got stream?

[2019-07-19 10:25] luismesejo opened #835 "Cookie example from the README fails"
#### Describe the bug

 - Node.js version: v11.9.0
 - OS & version: macOS 10.13.6

#### Actual behavior

The code on https://github.com/sindresorhus/got#cookies throws an error on the setCookie function call...

TypeError: Cannot read property 'loose' of undefined
    at CookieJar.setCookie (/var/app/current/node_modules/tough-cookie/lib/cookie.js:1005:15)

I guess the though-cookie lib is not bei

[2019-07-19 12:00] szmarczak commented on #835
Callback is missing. It should be:

[code]

Or, if you prefer Promise:

[code]

[2019-07-19 12:05] szmarczak commented on #835
You can use `setCookieSync` if you use the default store.

[2019-07-19 12:58] luismesejo commented on #835
it's working for me now:

[code]

[2019-07-19 13:28] luismesejo commented on #835
made a PR https://github.com/sindresorhus/got/pull/836

[2019-07-22 09:58] norbornen opened #837 "Error when runing code from Testing section"
#### Describe the bug

 - Node.js version: v12.5.0
 - OS & version: macOS 10.14.5

I get an error when I run the code from the "[testing](https://github.com/sindresorhus/got#testing)" example.

[code]

What's wrong with this code?

[2019-07-22 13:58] petrpatek opened #838 "Add `maxRedirects` option"
#### What problem are you trying to solve?
I am trying to follow more than 10 redirects.

#### Describe the feature
The configurable property, that will override the hardcoded 10.

[2019-07-22 14:26] sindresorhus commented on #838
How many redirects are you trying to follow and in what crazy situation would it be more than 10?

[2019-07-22 21:16] szmarczak commented on #837
1. Why haven't you filled out the template properly? You're missing two ticks.
2. Why didn't you search through closed issues?

Duplicate of #817

[2019-07-22 21:16] #837 closed

[2019-07-23 08:07] petrpatek commented on #838
I am using it for a web-scraping and in some cases like for example on TripAdvisor, they have more redirects than ten. I think it might be connected that the request is redirected through a lot of bot check servers. In comparison, Chrome browser uses 20 redirects. I guess it is an edge use case that most of `got` users don't need, but on the other hand, it will be more configurable.

[2019-07-23 09:57] sindresorhus commented on #838
Will 20 be enough for you?

[2019-07-23 09:58] sindresorhus commented on #838
The point of the limitation is to prevent infinite loops, not valid use-cases. I would also prefer not to make it configurable as everything that is configurable adds extra overhead for the maintainers and also for users having to read the docs.

[2019-07-23 10:57] petrpatek commented on #838
20 would be great. I will create a PR for it. Thank you very much 👍

[2019-07-23 12:15] gajus opened #841 "Do not use dnsCache in Kubernetes"
Not an actual issues, just heads up to anyone who attempts to use `dnsCache` in Kubernetes – if you use `dnsCache` in Kubernetes environment, your inter-pod HTTPs requests are going to start failing with "connection refused". This is because iptables on nodes are updated in response to nodes going through different readiness states.

See this article for more context https://freecontent.manning.co

[2019-07-23 12:15] #841 closed

[2019-07-23 12:16] gajus commented on #841
@sindresorhus Just to confirm: There is no DNS cache in v9?

[2019-07-23 12:37] szmarczak commented on #841
Yes, there's no dnsCache in v9. Have you checked if it throws? I assume you're just guessing.

`dnsCache` just translates to the `lookup` option. It works the same as the default `lookup` function except it caches the entries.

Also there is another layer of caching done in the OS-level.

[2019-07-23 12:42] gajus commented on #841
Something is misbehaving in my stack when deployed on Kubernetes. I am just ruling out elements one by one.

I think I found the possible contender and documented the solution here https://github.com/gajus/lightship#best-practices.

My guess is that:

* Either programs shutdown HTTP service too soon after receiving the SIGTERM; or
* Something in the client's stack is cacheing lookup results for to

[2019-07-23 13:00] szmarczak commented on #841
`dnsCache` is disabled by default. Anyway if you enable it, it behaves the same as the default `lookup` function (it just returns immediately if the entry's cached) so it should not break anything.

I think what you're looking for is graceful shutdown (don't accept new connections, just wait until everything's closed). Or just force close all connections and done.

[2019-07-25 09:07] gajus commented on #838
I would much rather have a default low, e.g. 2 redirects and `maxRedirects` configuration.

This is simply because 99% of websites will never make more than 1-2 redirects at a time.

We are using Got to aggregate data from thousands of websites. If one of them started to redirect in loop (e.g. broken session) and we had 50 jobs running, then 20x50 could easily result in some service disruption.

T

[2019-07-25 09:54] szmarczak commented on #838
I agree with @gajus IMHO it should be configurable and we should detect infinite loops immediately without reaching the limit.

[2019-07-25 10:10] gajus commented on #838
That is unfortunately impossible. There are cases where services are going to redirect back and forth while waiting for something to happen.

[2019-07-26 00:56] jandrieu opened #842 "Setting responseType to 'json' doesn't return json."
#### Describe the bug

 - Node.js version: v10.16.0
 - OS & version: Ubunto 18.04
 - Got version: 9.6.0

Setting responseType to 'json' doesn't return json.

#### Actual behavior
Setting responseType to 'json' doesn't seem to change anything (except the value of responseType in the request object);

Instead, the body is just interpreted as text. And, the .json() function doesn't exist.
[code]
As i

[2019-07-26 07:52] szmarczak commented on #842
From the docs:

# **This readme reflects the next major version that is currently in development. You probably want [the v9 readme](https://www.npmjs.com/package/got).**

What part do you not understand in "this readme reflects the the next major version"? We could save some time if you looked into closed issues already 😉 (some of them are also the result of **not** reading the documentation in fu

[2019-07-26 07:52] #842 closed

[2019-07-27 09:54] sindresorhus commented on #758
@vladfrangu Have you had the chance to do some more work on it?

[2019-07-27 09:57] #835 closed

[2019-07-27 11:52] vladfrangu commented on #758
I haven't really had a lot of free time recently, which sucks a lot, and I'm so sorry about that! I'll check out what needs to be done when I get back in around 2 weeks to get the project to compile with strict mode (on the latest TS version too). I'll keep you up to date as much as I can!

[2019-07-27 13:49] sindresorhus commented on #758
Sounds good. Thank you :)

[2019-07-27 18:26] szmarczak opened #843 "HTTP3 support"
Related:
- https://http3-explained.haxx.se/en/
- https://github.com/nodejs/node/issues/23064
- https://github.com/nodejs/quic

[2019-07-28 17:44] stevenvachon commented on #834
@sindresorhus ^^

[2019-07-29 12:40] kevva commented on #834
You can use `.setEncoding` on a `got.stream` as well.

[2019-07-29 13:04] stevenvachon commented on #834
@kevva can you provide an example? I couldn't get it to work.

[2019-07-29 13:56] yovanoc opened #844 "Missing Typings"
#### What would you like to discuss?

This lib is now 100% typescript and I never use got because of that, now I want to try it and I see that even if this is all in typescript the released version doesn't include typings, so it's really sad

![image](https://user-images.githubusercontent.com/7302317/62054209-6af6da80-b219-11e9-949a-5eb35407ad77.png)

#### Checklist

- [x] I have read the document

[2019-07-29 14:14] szmarczak commented on #844
From the docs:

# **This readme reflects the next major version that is currently in development.**

[Probably] what you want is `npm i sindresorhus/got#master`.

[2019-07-29 14:14] #844 closed

[2019-07-29 21:08] yovanoc commented on #844
It doesn't change anything, I already tried that.. thats simply because you didn't include definitions files in your final bundle..

[2019-07-30 06:28] azz opened #845 "Stream response only (not request body)"
#### What would you like to discuss?

Is it possible to stream a response without streaming the body? e.g. I want to do:

[code]

Currently if I do this I get the error:

My workaround is to do the following:

[code]

But I would rather avoid the need for this function if possible.

_(got@9.6.0)_

#### Checklist

- [x] I have read the documentation.

[2019-08-01 04:54] johnnysprinkles commented on #838
I'd be looking for `0` as an option here, so that as a proxy, this lets the 301 and 302's get all the way back to the client. Can't have a truly transparent reverse proxy without it.

[2019-08-01 05:45] MartMong opened #847 "GOT error when testing with nock"
#### Describe the bug

 - Node.js version: 10.16
 - OS & version: MacOS

#### Actual behavior
when I use got test timeout error with nock
got throw RequestError

{ RequestError: Nock: No match for request {
  "method": "GET",
  "url": "http://delay.com/",
  "headers": {
    "user-agent": "got/9.6.0 (https://github.com/sindresorhus/got)",
    "accept-encoding": "gzip, deflate"
  }
}

while I use ax

[2019-08-01 06:05] #847 closed

[2019-08-01 09:40] kevva commented on #834
@stevenvachon, just like the example you provided above, but with `got.stream` instead:

[code]

[2019-08-03 03:07] clutchyu opened #848 "About comparison in Readme"
Is there a way  to get the features of the packages in the comparison?

[2019-08-03 09:38] szmarczak commented on #848
What do you mean? The question makes no sense at all. All the packages have these features where the tick is showed. If there's an X, the feature is missing.

[2019-08-03 10:28] clutchyu commented on #848
Thank you for your reply.  I'm not familiar with these packages,I want to know if the features do official introduction include or summarized by developers?

[2019-08-03 10:44] sindresorhus commented on #848
@clutchyu Your question still doesn't make any sense.

I'm gonna close this as it's not an issue, but feel free to continue the discussion.

[2019-08-03 10:44] #848 closed

[2019-08-03 15:36] Siilwyn opened #850 "Upgrading from got 9.2.2 to 9.3.0 causes SSL error"
#### Describe the bug

 - Node.js version: 10.16.0
 - OS & version: Ubuntu 19.04

I'm using `got` as a dependency at https://github.com/Siilwyn/cheers-receiver/ and I'm trying to upgrade `got` to its latest version, however from 9.3.0 and upward when I run `npm test` I get the following `GotError`:
[code]

#### Actual behavior
Error thrown.

#### Expected behavior
No breaking change, tests pass.

[2019-08-03 16:03] sindresorhus commented on #850
Seems to be related to proxy, see:

- https://npm.community/t/ssl-routineswrong-version-number/6048
- https://forum.inkdrop.app/t/i-cant-log-in-ssl3-get-record-wrong-version/1020/11

[2019-08-03 18:11] szmarczak commented on #850
@Siilwyn this is not possible as Got doesn't operate low level. It must be Node.

[2019-08-03 18:20] szmarczak commented on #848
If you mean this:

It depends what you refer to. If you refer to Got, then yes, all the features have been documented. If you refer to axios, request etc. you have to ask them, not us.

[2019-08-03 19:10] Hoishin commented on #568
@brandon93s Would you consider re-open and potentially fix this problem?

[2019-08-03 20:41] szmarczak commented on #568
@sindresorhus I think @sa-spag is right.

[2019-08-04 17:03] Siilwyn commented on #850
@sindresorhus I am not using a proxy. Since the requests are to `localhost` I would also not expect that to influence the requests?

@szmarczak I had the same idea but since the issue is consistent on `9.3.0` using the same Node environment I don't understand where else it can come from. Do the steps to reproduce the issue not work on your machine?

[2019-08-05 03:20] ash0080 commented on #699
same issue
[code]
still happen even set
retry:0

[2019-08-05 08:31] szmarczak commented on #639
Just a note to myself: https://github.com/sindresorhus/got/issues/602#issuecomment-455560208

[2019-08-05 11:26] kaboume opened #851 "How to use a client certificate ?"
Hello,
I want to migrate an old php code using cUrl to nodeJs with the got module.
My script uses a **client certificate** to connect to a remote server.
Here is an extract of the cUrl php code :

[code]

I have not found in the got documentation, how to use this kind of certificate.
Could you please help me ?
Thanks;
Eric

[2019-08-05 14:40] kaboume commented on #851
Ok I found.
I added theses lines in the options object

[code]

Thanks for this great module.
Eric.

[2019-08-05 14:40] #851 closed

[2019-08-05 15:08] szmarczak commented on #851
Please don't make new issues if:

1. You haven't read the whole documentation.
2. You are very new to Node.

This is not the right place to ask these questions. Everything's well described in the docs.

If something's hard to understand, please make your issue clear about it. Otherwise you could save us lots of time by reading the docs instead of making issues on how to use Got :smiley:

[2019-08-05 16:50] gajus opened #852 "Cancelling requests using hooks"
#### What problem are you trying to solve?

Lack of ability to abort retry.

#### Describe the feature

Suppose a scenario where a website can return a 500 status code, and this would generally mean that the request should be retried after some delay. However, it may be that 500 status code comes with a response body that describes an error constant that signals that no further attempts should be

[2019-08-05 17:48] szmarczak commented on #852
Just throw an error within the hook: `throw ...`

Alternatively you can use [the `afterResponse` hook](https://github.com/sindresorhus/got#hooksafterresponse) to update the session.

[2019-08-05 17:48] szmarczak commented on #852
I think we missed that part in docs about throwing errors inside hooks, didn't we?

[2019-08-05 22:40] gomes7296 commented on #568
Quick fix

[code]

[2019-08-05 23:48] stevenvachon commented on #834
@kevva, that isn't working for me. I'm piping to [parse5](https://npmjs.com/parse5) and it complains "Parser can work only with string streams."

[2019-08-06 18:05] AaronFriel commented on #792
@sindresorhus Could you release a 9.6.1 that uses cacheable-request 6.1.0?

[2019-08-07 21:56] jamiehaywood opened #853 "The functionality of resolveBodyOnly is not working"
#### Describe the bug

 - Node.js version: v10.14.1
 - OS & version: MacOS 10.13.6

The functionality of `resolveBodyOnly` is nonexistent in the current version on NPM.
#### Actual behavior

There are no references to `resolveBodyOnly` in any of the files in the `got` package, but I can see it in the GitHub source.

#### Expected behavior

If there's advertised functionality in the README it shoul

[2019-08-07 21:58] jamiehaywood commented on #853
Closing my own issue, because I've just seen the line `This readme reflects the next major version that is currently in development. You probably want the v9 readme.` on the README.
Apologies.

[2019-08-07 21:58] #853 closed

[2019-08-08 09:19] adityapatadia commented on #639
My favourite feature will be to allow changing https://github.com/lukechilds/cacheable-request module to something else. The development is too slow and bugs like caching of 304 response proves to be difficult to use it.

[2019-08-08 10:37] szmarczak commented on #853
Glad there are actually people who read the readme **closely** :) There many issues like this. You've just saved us another few minutes to explain things :P

[2019-08-08 12:28] jamiehaywood commented on #853
It is a bit annoying that the readme displays `in development` features that haven't been pushed to the package..!

[2019-08-08 14:54] epeli opened #854 "Async iteration broken with node.js 10"
#### Describe the bug

 - Node.js version: v10.16.2
 - OS & version: macOS Mojave 10.14.4

[code]

#### Actual behavior

The loop in above code does not ever finish. Last line it prints is `end`. Interestingly the node process exits regardless.

#### Expected behavior

When executed the last printed line should be `loop done`.

---------------

This might be a node.js bug since with node.js 12 the

[2019-08-08 15:10] gajus opened #855 "Provide a way to override HTTP parser"
#### What problem are you trying to solve?

[code]

throws:

[code]

Notes:

* works as expected with`--http-parser=legacy`
* works as expected with https://github.com/creationix/http-parser-js

[code]

It would be nice if we didn't need to override `process.binding('http_parser').HTTPParser` and Got accepted this as a configuration.

[2019-08-08 15:16] gajus commented on #855
https://github.com/sindresorhus/got/issues/646

Looks like I have already had the same issue in the past.

It seems that Got could at the very least allow to override the parser that it will use to make requests.

[2019-08-08 15:25] gajus commented on #855
Annoyingly, it looks like the issue is intermittent.

However, I was able to capture Got response when it was happening:

[code]

Note the highlighted header. It is invalid. And that is what is causing the issue.

[2019-08-08 15:30] gajus commented on #855
This is what cURL output looks like:

[code]

[2019-08-08 15:34] epeli commented on #854
Found a workaround: Pass it through the `PassThrough` stream and it works:

[code]

[2019-08-08 15:56] gajus commented on #855
There appears to be no way to fix this at the moment.

https://github.com/nodejs/node/issues/22064#issuecomment-519578895

[2019-08-08 15:56] #855 closed

[2019-08-08 20:27] gajus commented on #855
I have documented a solution in this thread.

https://github.com/nodejs/node/issues/22064#issuecomment-519675190

[2019-08-09 06:09] ash0080 opened #856 "Wired behaviors when set retry to 0"
#### Describe the bug

 - Node.js version:  8.9.0 / 10.16.0
 - OS & version:  OSX 10.14.6
 - got 9.6.0

POST with retry= 0
when error happen, sometimes, it

will throw uncatched 'socket hang up' error   /  Nodejs. 8.9.0
will throw ' Client network socket disconnected before secure TLS connection was established'  / Nodejs 10.16.0

#### Checklist

- [ X ] I have read the documentation.
- [ X ] I ha

[2019-08-09 07:20] ash0080 commented on #856
sorry, forget to say,  I use retry 0 because this issue happen again #631

[2019-08-09 08:21] szmarczak commented on #856
Some code to reproduce? Try running the master branch: `npm install sindresorhus/got#master`

[2019-08-09 09:08] timdp opened #857 "Lookup timeout is defeated by fast lookup"
#### Describe the bug

 - Node.js version: 12.7.0
 - OS & version: Ubuntu 19.04

#### Actual behavior

A `TimeoutError` is thrown if `dns.lookup()` calls its callback after a single event loop tick, because got doesn't start listening for the `lookup` event early enough and then lets it time out.

We're using [redns](https://www.npmjs.com/package/redns) to cache DNS responses, and passing it to go

[2019-08-09 14:19] adityapatadia opened #858 "Library retries even after 200 response"
#### Describe the bug

 - Node.js version: 10.16
 - OS & version: Macos 10.14

#### Actual behavior

Default `retry` is `2`. Ideally library should not retry when successful response is received but somehow it always tries again after `timeout` time is passed.

#### Expected behavior
It should not retry after `200` response is received.

#### Code to reproduce

[code]
Put some logging in `cacheabl

[2019-08-09 14:33] adityapatadia commented on #858
I should mention this will only happen when the URL gives 304 response.

[2019-08-09 17:42] szmarczak commented on #857
I'll investigate into this ASAP.

[2019-08-09 18:25] timdp commented on #857
Take your time. I _think_ our workaround is mitigating it but we're still adding some additional monitoring to make sure.

[2019-08-10 14:50] ash0080 commented on #856
Sorry, the code itself is nothing special,
but I use a TOR node as proxy agent,
so the error could be reproduced easier.

You can try default retry setting first, mostly, it will throw an unhandled promise warning even if I wrap await got(...)  in try... catch

then set retry =0 could dismiss the unhandled promise, but has high probability to throw uncatched ‘socket hang up’ error

[2019-08-10 15:16] szmarczak commented on #856
Did you try running the master version?

[2019-08-11 18:27] ash0080 commented on #856
'===========================================================================
<1> LoginError: [OtherError] socket hang up
---------------------------------------------------------------------------
at module.exports (/Volumes/Root/Users/Elvis/Desktop/buybuybuy/project/packages/LoginService/stores/shilladfs/login.js:63:24)
at <anonymous>
at process._tickDomainCallback (internal/process/next_tick.js:

[2019-08-12 08:36] ash0080 commented on #856
Tested, thought I haven't got a hang out error, but
the master version seems  worse,

blue means timeout
![屏幕快照 2019-08-12 16 30 52](https://user-images.githubusercontent.com/2803210/62853439-efb81d00-bd1e-11e9-8210-8a319fa9c081.png)

[2019-08-15 10:41] maoai-xianyu opened #859 "wechat small 400001 invalid credential, access_token is invalid or not latest hint: [t2c51a00604810!]\"
#### What would you like to discuss?
when i use got for  requst http.
for wechat to security.msgSecCheck, i you got.post() function.
this problew "400001 invalid credential, access_token is invalid or not latest hint: [t2c51a00604810!]\ " is caused.

![image](https://user-images.githubusercontent.com/17868022/63089869-e97aa880-bf8b-11e9-8b08-d1130826387e.png)

when i  use   "request-save" ,  this

[2019-08-15 10:49] sindresorhus commented on #859
Support questions are better asked on Stack Overflow.

[2019-08-15 10:49] #859 closed

[2019-08-15 15:10] epeli commented on #680
I had a situation where I had to prevent doing redirects to other than the original domain. I wanted got to just reject with error if it tries to redirect to an unwanted domain.

So my workaround for now is just to change the request domain to something invalid:

[code]

[2019-08-16 12:49] szmarczak commented on #680
@epeli No need for a workaround. Just throw an error within the hook.

[2019-08-21 18:46] ash0080 commented on #856
Sorry, finally found it's a bug from my code, the progress timed out before got finished

[2019-08-21 18:46] #856 closed

[2019-08-21 23:26] Zeranoe opened #860 "Retry based on body content"
I'd like to retry a request N times with M seconds between each request, based on the response json data. The page returns a 200 status, so the retry isn't being triggered by default. Here is what I have so far:

[code]

I'm not sure how to force a retry with a 200 status, and any help would be appreciated.

[2019-08-22 17:08] lselden commented on #860
Why not just wrap in a while statement?

[code]

[2019-08-22 17:17] Zeranoe commented on #860
I was just trying to use the built in retry functionality, but I've been using a loop for now.

[2019-08-25 11:28] nickfan opened #861 "is there any plugin like axios-curlirize for got?"
#### What problem are you trying to solve?
sometime we just want a plugin to generate curl command for help us to solve server side problem,
when i use axios i found the plugin https://github.com/delirius325/axios-curlirize
could generate full curl command with the right cookies,referer,etc.. headers request.
so,is there something like this for got?

...

#### Describe the feature

generate the re

[2019-08-26 14:33] Siilwyn commented on #850
I don't see any way it can be a change in the destination server since I completely control the server and it is running locally, see the linked repository. If you can think of a way that updating the `got` dependency changes how to server reacts please let me know!

[2019-08-29 06:00] luxferresum opened #862 "`.json` on the promise is not defined"
#### Describe the bug

 - Node.js version: 10.15.3
 - OS & version: Linux (Nixos)
-  got version: 9.6.0

#### Expected behavior
The example [here](https://github.com/sindresorhus/got#json-mode) seems to suggest this to work.

#### Code to reproduce

[code]

So did I understand the documentation wrong or is this a bug?

[2019-08-31 09:20] rmp135 commented on #862
This threw me as well. The documentation on the README is actually for the next version. You want the [npm](https://www.npmjs.com/package/got) docs for the current version.

Looking through the bug list, this has caught a few people out.

[2019-08-31 13:07] sindresorhus commented on #862
This is clearly pointed out at the top of the readme. In addition, this is how almost all projects work on GitHub; master branch is development.

[2019-08-31 13:07] #862 closed

[2019-09-03 16:40] BarryCarlyon opened #865 "Moving from Request to got: Twitter Stream drops for no reason."
#### What would you like to discuss?

I'm in the middle of converting from Request to Got.

But for whatever reason, the Stream just drops with Got but not with request.
The only difference between my code is requiring got instead of request.

Sample code:

[code]

At this point I can't see any issues or bugs, just my "got" version stalls for no reason, where as the "request" version keeps going a

[2019-09-04 11:05] #783 closed

[2019-09-04 11:05] #814 closed

[2019-09-04 19:33] lselden opened #866 "Redirect doesn't update Host header"
#### Describe the bug

 - Node.js version: Node v12.2.0
 - OS & version: Windows 10.0.18362

If the "Host" header is explicitly set in the initial request options it isn't updated on a redirect, which could trigger an error if the redirect is to a different domain.

#### Actual behavior

On redirect the hostname is updated (via url-to-options.js), but the "Host" header isn't automatically updated.

[2019-09-04 22:21] wesleytodd opened #867 "Unexpected behavior with `beforeRetry` and `baseUrl`"
#### Describe the bug

#### Actual behavior

The examples show updating `hostname` in the options, but if you originally used `baseUrl` and then try to modify `baseUrl` in your hook, it does not re-derive the url.  It seems like inconsistent/unexpected behavior.

#### Expected behavior

Run the same logic which sets hostname, path, etc if the hook modifies `baseUrl`

#### Code to reproduce

[code]

[2019-09-06 23:03] josenobile commented on #749
0.
[code]
[code]

1.
[code]

2.

[code]

3.
cat test.js
require('got')

node test.js
[code]

[2019-09-07 12:55] szmarczak commented on #167
It's 99.99% stable, but the PR has not been merged yet due to a `servername` Node.js [bug](https://github.com/nodejs/node/issues/28985).
The workaround would be to create a Promise to check every 1ms if the servername is not `false`, but that doesn't look right.

[2019-09-07 13:05] szmarczak commented on #865
Duplicate of #223

I've got trouble understanding this sentence. Can you elaborate please?

I strongly recommend reading the full documentation + this [Request migration guide](https://github.com/sindresorhus/got/blob/v9.6.0/migration-guides.md).

[2019-09-07 13:10] leodutra commented on #167
@szmarczak absolutely. It smells like no tests were done for that result.

[2019-09-07 13:13] szmarczak commented on #866
@sindresorhus This is an invalid usage, because Node sets the `host` header automatically by default.

However this is easy to fix by calling `delete options.host` on redirect if `options.setHost` isn't `false`. Use case: setting the IP address manually for the first request:

[code]

If `options.setHost` is `false`, users would need to handle the `host` header on their own.

[2019-09-07 13:17] szmarczak commented on #867
This is an invalid usage. If you receive relative path, the base is the current page, not the option. It's according to the HTTP specification. So, everything works as expected.

Trying to modify `options.baseUrl` on redirect should throw. I'll make a PR for that.

[2019-09-07 13:25] szmarczak commented on #167
@leodutra You're right. I've looked it Node tests right now and it seems they do check false `servername`, but **only** for [the server-side](https://github.com/nodejs/node/blob/98e9de7db930e505884ca8d0ca6588afbe43f127/test/parallel/test-https-agent-sni.js).

[2019-09-07 13:52] szmarczak commented on #749
Indeed. `github:sindresorhus/got#master` doesn't work but `github:sindresorhus/got#v9.6.0` works. That's because the `dist` directory doesn't exist in the GitHub tree. **You need to build Got on your own.**

I think @sindresorhus might have considered that but didn't decide to include it, because of these reasons:

1. Some people would edit those files instead of the one included in `source/*`.
2.

[2019-09-07 14:47] BarryCarlyon commented on #865
Screwed my grammer there.

I run the GOT version and the Request version side by side. The GOT version dies very quickly. But the request version keeps running fine (no stall).

I didn't see anything relevant in the Migration Guide, hence this open issue.

I'll take a loot at 223 and see if it helps. Thank you.

[2019-09-07 16:21] #701 closed

[2019-09-07 16:21] #737 closed

[2019-09-07 16:37] szmarczak commented on #865
It's definitely because of #223. The main stream is blocking flow. You need to [resume](https://nodejs.org/api/stream.html#stream_readable_resume) it:

[code]

If it doesn't work, please let me know, I'm happy to help :)

[2019-09-07 17:16] wesleytodd commented on #867
Oh, sorry I copy pasted and then didnt change the method.  The report here is about `beforeRetry`.  Sorry about the confusion, I updated the example.

[2019-09-07 18:04] imcotton commented on #854
I could confirm this by simply testing sample code with online **runkit** env, trouble with Node v10 and v11, works on v12.

[2019-09-07 18:06] szmarczak commented on #854
Actually if it works on Node 12, it's definitely a Node issue.

[2019-09-07 18:07] #854 closed

[2019-09-07 18:30] imcotton commented on #854
@szmarczak native stream actually works, you could try below code snippet over https://npm.runkit.com/got

[code]

[2019-09-07 18:33] szmarczak commented on #867
This still works as expected. The URL is normalized **before** making a request. Also you still did copy paste it. I think what you're looking is:

[code]

You receive 404 error as expected, because `somethingthatdoesntexist.com` does not exist and `bar.com` exists. You get `https://bar.com/other-path/more/path`.

[2019-09-07 18:36] szmarczak commented on #854
@imcotton `got.stream` is a Duplex stream. Duplex is a Readable too, but Readable is not Duplex.

[2019-09-07 18:48] yovanoc commented on #749
You could "hack" like that :

![image](https://user-images.githubusercontent.com/7302317/64478978-b7d2b700-d1b0-11e9-9df3-4ee581031968.png)

Ignore the `prisma2 generate` but build got inside the postinstall script and it's working great

[2019-09-07 19:00] imcotton commented on #854
Agreed that internal difference it might between `http.get` and `got.stream`, however regarding to consumption level (e.g. `for await of` or `data` event), I think they should acting like the same, don't they?

[2019-09-07 19:07] szmarczak commented on #854
See:

If it wasn't working for Duplex streams, but was for Readables, and then suddenly started working for Duplex, it means Node must have done something. We did nothing.

[2019-09-07 20:15] wesleytodd commented on #867
So what you outlined is basically what I did.  IMO the DX would be better if when setting `options.baseUrl` it would do all this for you in the library.  If it does this when passing it originally I expected it to do the same here.

[2019-09-07 20:41] imcotton commented on #854
Or could it be something wrong with the [duplexer3](https://www.npmjs.com/package/duplexer3), which used by **got** internally, where the only version **0.1.4** was pushed 4 years ago, and have had this suspicious issue floatdrop/duplexer3#2 dangling.

Just my quick glance over so far, I think it's error prone for people whom stick in Node v10, this is purely observation, not blaming.

Furthermore

[2019-09-07 20:59] szmarczak commented on #867
I just proposed a solution. I didn't say it was right. The opposite, it's just a workaround, NOT a proper solution.

When making a request we need to know the absolute URL. `baseUrl` is used only once to build it. Then we don't need it because on redirects we know the base is the current URL. It's completely being forgotten. So if you try to modify it in a `beforeRedirect` hook, it will throw.

Yo

[2019-09-07 21:04] szmarczak commented on #854
@imcotton It just wraps the Duplex stream. It's not broken. The issue not suspicious because the OP wants to change `null` to `false`. It doesn't change any behavior.

[2019-09-07 21:05] imcotton commented on #854
OK then.

[2019-09-07 21:07] wesleytodd commented on #867
Sorry I miss understood I think since you closed the issue with that comment.  I thought you meant that as an answer.

This is what I meant when I said I meant `beforeRetry`.  The original code snippet was not correct.  I have updated `beforeRedirect` to `beforeRetry`.  What I want is the first request which fails to then retry to a different url.  Because the url was specified using `baseUrl` in

[2019-09-07 21:34] szmarczak commented on #867
I'm sorry for not saying that at first. It's late here so I'm sorry for giving unclear examples.

By:

I meant that:

That is the correct behavior as `baseUrl` has no effect there. The URL has been normalized already. To process the request we don't `baseUrl`. We just need the full URL.

I understand what you mean. You just have some constant part e.g. `/foo/bar` and you want to fallback to a diff

[2019-09-08 16:42] #753 closed

[2019-09-08 17:49] sindresorhus commented on #749
I tried to change to use the `prepare` run-script instead, which is documented to work on Git install, but I could still not get it to install correctly. It just creates a `dist` folder with the package.json. Something weird is going on. https://github.com/sindresorhus/got/commit/c59342868ad5e17b500da13ef667f20b06e29c29

[2019-09-09 13:37] szmarczak commented on #857
Actually this is not a bug. Try using `setImmediate`:

[code]

it works as expected.

[2019-09-09 13:39] borovik96 opened #869 "got(...).json is not a function"
#### Describe the bug

 - Node.js version: v10.16.0
 - OS & version: MacOS 10.14.6

#### Actual behavior

`got(...).json is not a function`

#### Expected behavior
The returned promise from `got` function has `.json` method

#### Code to reproduce
https://codesandbox.io/embed/distracted-glitter-duejq

[code]

#### Checklist

- [x] I have read the documentation.
- [x] I have tried my code with the

[2019-09-09 13:40] sindresorhus commented on #869
Duplicate of #862

[2019-09-09 13:40] #869 closed

[2019-09-09 13:52] szmarczak commented on #857
Found a fix, so you're right. It **is** a bug.

[2019-09-09 14:04] #857 closed

[2019-09-09 14:06] szmarczak commented on #857
Fixed by adding `typeof (socket.address() as net.AddressInfo).address === 'undefined'` to make sure the `lookup` event didn't occur yet: https://github.com/sindresorhus/got/commit/4faf5c79e7cd5b81ec3c5f6840b9e5918e4d02ef#diff-7ab9a52ac2fccf434c1a34ce48f2883bR113

[2019-09-09 16:56] lselden commented on #866
Fair enough; you make a good argument. Thanks for the answer @szmarczak

[2019-09-09 16:56] #866 closed

[2019-09-09 18:22] szmarczak commented on #866
@lselden I have also provided a tip on how to code the solution. You could use the handler for setting `options.setHost` to `false`, as it's called only once. Then, in a `beforeRedirect` hook you just set `options.setHost` to `true`.

[2019-09-10 19:05] stevenvachon opened #870 "Export events"
#### What problem are you trying to solve?
I'd like to avoid writing event strings manually:
[code]

#### Describe the feature
[code]

#### Checklist

- [x] I have read the documentation and made sure this feature doesn't already exist.

[2019-09-10 19:50] sindresorhus commented on #870
Stringly-typed APIs is unfortunately the norm in JS. It would be weird to use constants for this, even though I prefer that in other languages. For TypeScript users, we could potentially expose an enum for it, or make the `on()` method only accept the allowed string events, to improve safety and auto-completion.

[2019-09-10 20:17] szmarczak commented on #870
There's no point in avoiding strings. Each strings only stored once. IOW: million instances of `HelloWorld` will use just a few bytes in total.

Your example is very similar to one I saw months ago: someone *did* create 100 variables:
[code]

And then used it all over his code. 🤦‍♂️

Like @sindresorhus has pointed out: this is how JavaScript is designed. It's not good, but we can't change that.

[2019-09-10 20:17] #870 closed

[2019-09-10 20:32] stevenvachon commented on #870
I understand that they're not symbols, but they force us to use named exports instead of random strings. If there's a typo in the named import, it can throw.

[2019-09-10 22:03] szmarczak commented on #870
These are NOT just random strings. As I mentioned earlier, each string is stored once. It cannot be duplicated or copied, strings are immutable.

Actually the `error` event is a built-in feature of `EventEmitter`.

Did you know that properties are also strings? For example: `got().on` is the same as `got()['on']`.

Strings are like symbols, except that they aren't unique. Each `"qwerty"` points to

[2019-09-10 23:24] stevenvachon commented on #870
`"qwerty" === "querty"` does not mean they are the same instance; it means that they have the same value.

And just because parts of Got extend `EventEmitter` doesn't mean that we need to know that. The consumer's mindset is that they are working with Got, and that can benefit from exported events.

[2019-09-11 01:49] BarryCarlyon commented on #865
Finally got around to testing.

Can confirm that .resume() has fixed the issue.

Thank you!

[2019-09-11 01:49] #865 closed

[2019-09-11 03:54] sindresorhus commented on #865
@szmarczak Maybe we should add a tip about this in the readme? Seems like a common mistake that is easy to fall for. Maybe the Tips section?

[2019-09-11 07:32] szmarczak commented on #865
That's right. I'll send a PR.

[2019-09-11 08:01] szmarczak commented on #870
You're wrong. Please see the [MDN docs about equality operators](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Comparison_Operators).

The Object rule is a base for all other rules. Strings are immutable, so each string points to the same object. Same for `undefined`s, `null`s etc.

Yes, it does. Strings are also objects. If you open Chrome Dev Tools and take memory s

[2019-09-11 08:02] szmarczak commented on #870
For TypeScript this would be the correct solution:

[2019-09-11 16:28] stevenvachon opened #871 "afterResponse hook not called for stream"
#### Describe the bug

 - Node.js version: 12.10.0
 - OS & version: macOS 10.14.6

#### Code to reproduce

[code]

#### Checklist

- [x] I have read the documentation.
- [x] I have tried my code with the latest version of Node.js and Got.

[2019-09-11 17:54] szmarczak commented on #871
If you want to serve a new response, you should pass custom `request` function: https://github.com/sindresorhus/got#request

[2019-09-11 17:55] stevenvachon commented on #871
I was trying to use it to retry a request using "get" because it'd previously responded with a 405 status using "head".

[2019-09-11 18:02] szmarczak commented on #871
[Retrying is disabled for streams:](https://github.com/sindresorhus/got#retry)

https://github.com/sindresorhus/got/blob/3ff567524072b0d2417802002602df7fd8e21cc6/source/as-stream.ts#L19

This is because the connection may get broken while downloading, and if the retry functionality was here you would get duplicated content. To "retry" properly you need to make your own function that will handle th

[2019-09-11 18:10] stevenvachon commented on #871
Thanks!

[2019-09-11 18:12] szmarczak commented on #871
I'll leave this issue open for now, we need to document this properly.

[2019-09-13 19:06] tobenna commented on #860
In your example, you're not calling the retry function. Should be:

[code]

[2019-09-13 21:28] wesleytodd commented on #867
Just wanted to follow up on this, are you saying that no changes will be made based on this?

In case others stumble upon this, here is the example code which does work (but is IMO a very bad developer experience):

[code]

[2019-09-14 08:28] szmarczak commented on #867
That's right. You can't exactly fallback to another `prefixUrl` because the URL is normalized afterwards and you may get redirected to a different site. It's best to write your own function to handle these scenarios.

[2019-09-14 08:29] #860 closed

[2019-09-16 02:35] #823 closed

[2019-09-16 07:05] yovanoc opened #873 "Cache isn't working"
#### Describe the bug

 - Node.js version:  12.10
 - OS & version: MacOS Catalina

#### Actual behavior

When I put a cache system it does not work. I'm currently using master branch, and different module like `keyv-file` and the file is never saved.

#### Expected behavior

The file is here and used in case of subsequent request.

#### Code to reproduce

![image](https://user-images.githubusercon

[2019-09-16 17:50] stevenvachon opened #874 "`response.timings.response` is `null` on the `response` event"
#### Describe the bug

 - Node.js version: 12.10.0
 - OS & version: mac OS 10.14.6

#### Actual behavior
[code]

#### Expected behavior
No `null` values.

#### Code to reproduce

[code]

#### Checklist

- [x] I have read the documentation.
- [x] I have tried my code with the latest version of Node.js and Got.

[2019-09-16 18:26] szmarczak commented on #874
Try using `@szmarczak/http-timer@2.0.0`

[2019-09-16 18:27] szmarczak commented on #874
And yours code does nothing. Running it doesn't output anything. Please include reproducible code.

[2019-09-16 18:29] szmarczak commented on #873
Please, don't try to kill us. We won't rewrite your code character by character. Copy and paste it here, otherwise the issue will be closed.

[2019-09-16 18:32] yovanoc commented on #873
[code]

Sorry for that

[2019-09-16 18:39] szmarczak commented on #873
What URL were you trying to cache?

[2019-09-16 18:40] yovanoc commented on #873
https://proxyconnection.touch.dofus.com/data/map?lang=fr&v=1.43.2

[2019-09-16 18:48] szmarczak commented on #602
You can do now (master branch):
[code]

[2019-09-16 18:49] stevenvachon commented on #874
Original comment updated.

[2019-09-16 18:50] szmarczak commented on #873
I get `ERR_CONNECTION_REFUSED`, could you please link something that works without a proxy?

[2019-09-16 18:54] yovanoc commented on #873
A simple POST request with the Content-Type header with this in body:

[code]

[2019-09-16 19:01] szmarczak commented on #874
This is not actually a bug. The `response` event for `http-timer` is executed **after** your `response` handler. Wrapping it in `process.nextTick` works:

[code]

I just need to use [`emitter.prependOnceListener(eventName, listener)`](https://nodejs.org/api/events.html#events_emitter_prependoncelistener_eventname_listener).

[2019-09-16 19:08] szmarczak commented on #874
If you're interested you can send a PR for https://github.com/szmarczak/http-timer/issues/7 otherwise I'll do it tomorrow as it's late here.

[2019-09-16 21:15] szmarczak opened #875 "Enhance the `cache` option"
The `cache` mechanism:
- [ ] should be replaceable with any other module
- [ ] should have something hook-like to allow storing different properties e.g. ip addresses
 - [ ] should be a promise

[2019-09-17 09:19] sindresorhus opened #876 "Got v10 beta feedback"
This issue is for discussing the upcoming Got v10 version which is now in ~alpha~ beta.

Beta 1: https://github.com/sindresorhus/got/releases/tag/v10.0.0-beta.1

Let us know if you encounter any issues with upgrading or if anything is unclear in the release notes.

[2019-09-17 09:21] sindresorhus commented on #639
Got v10 alpha.1 is now out: https://github.com/sindresorhus/got/issues/876

[2019-09-17 09:21] #639 closed

[2019-09-17 09:23] sindresorhus commented on #749
There's now an alpha version out for v10: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:24] sindresorhus commented on #781
We finally have an alpha version out: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:30] sindresorhus commented on #602
We have an alpha version of v10 out if you wanna help us test: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:31] sindresorhus commented on #780
We have an alpha version of v10 out if you wanna help us test: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:31] sindresorhus commented on #713
We have an alpha version of v10 out if you wanna help us test: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:31] sindresorhus commented on #804
We have an alpha version of v10 out if you wanna help us test: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:31] sindresorhus commented on #818
We have an alpha version of v10 out if you wanna help us test: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:32] sindresorhus commented on #825
We have an alpha version of v10 out if you wanna help us test: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:32] sindresorhus commented on #842
We have an alpha version of v10 out if you wanna help us test: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:32] sindresorhus commented on #844
We have an alpha version of v10 out if you wanna help us test: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:33] sindresorhus commented on #853
I'm surprised you have no been affected by that before. That's pretty much how all projects on GitHub operate.

[2019-09-17 09:33] sindresorhus commented on #853
Anyway, we have an alpha version of v10 out now if you wanna help us test: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1 :)

[2019-09-17 09:34] sindresorhus commented on #862
We have an alpha version of v10 out now if you wanna help us test: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:34] sindresorhus commented on #869
We have an alpha version of v10 out now if you wanna help us test: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-17 09:41] sindresorhus opened #877 "TypeScript - Only allow supported event names"
Only allow supported event names where we use EventEmitter. To prevent typos and improve auto-complete.

[code]

[2019-09-17 09:41] sindresorhus commented on #870
@szmarczak I think you're misunderstanding the argument of @stevenvachon. Regardless, constants like that is not something we plan to do. However, I've opened an issue about improve our types: https://github.com/sindresorhus/got/issues/877

[2019-09-17 09:46] pociej opened #878 "beforeRequest hooks always has `GET` as request method"
#### Describe the bug

 - Node.js version: 10.16.3
 - OS & version: OSX 10.13.5

#### Actual behaviour

`beforeRequestHook` shows that `req.method`  is `GET` even if other type of request has been made.  Additionally request body is not presented but most likely its because of first bug.

#### Expected behaviour

 Hook shows proper value `req.method`
...

#### Code to reproduce

[code]

[2019-09-17 09:57] tobenna commented on #878
It'll always log as **GET** because got by [default](https://github.com/sindresorhus/got#api) will make a get request.

The second request you're making isn't using the same options as the first so it won't have the hook you wrote.

If you want to reuse the same instance for future requests:

[code]

[2019-09-17 10:01] pociej commented on #878
So what if i wanna hook into all the request to given address without worrying of instance ( many instances of got even used by external package ) ?
Hook into node native http ?

[2019-09-17 10:31] kevva commented on #876
Just an FYI, but after installing the `dist` folder looks like this:

![image](https://user-images.githubusercontent.com/709159/65034336-1c2b0e80-d947-11e9-994b-58c792931787.png)

[2019-09-17 10:46] sindresorhus commented on #876
@kevva Weird. I manually fixed it:

[code]

or

[code]

[2019-09-17 11:52] szmarczak commented on #878
You need to extend the Got instance and use that one. Everything is in the docs.

[2019-09-17 11:52] #878 closed

[2019-09-17 11:54] szmarczak commented on #878
https://github.com/sindresorhus/got/blob/master/readme.md#context

[2019-09-17 12:13] szmarczak commented on #867
@sindresorhus has convinced me that it would be a nice feature. Will think of something.

[2019-09-17 12:34] sindresorhus commented on #878
Global hooks is not something we're interested in adding. It comes with more problems than it solves.

[2019-09-17 15:00] sindresorhus commented on #838
Alright. Let's leave the default at 10 and expose an option for this.

[2019-09-17 15:20] matus123 commented on #876
Hi, i would like to report some issues... i don't know if this was desired.

### cannot specify own statusCodes in retry object (typescript error)
[code]
### afterResponse hooks cannot return promise (typescript error)
[code]

[2019-09-17 17:59] pociej commented on #878
@sindresorhus you know your stuff better than me so you are probably right. However i don't see those problems. From other hand i can show you real case where global hook is needed.
My case is that package A is wrapper on external API and provides method `myAPI.myResource.get()` which is wrapper on HTTP call using `got`. Then package B makes use of A and function `myFunction` at some point calls `

[2019-09-17 18:14] sindresorhus commented on #878
I think you want https://github.com/nock/nock

[2019-09-17 18:19] pociej commented on #878
Well nock is mocking library, so i can mock what will be returned by `https://myAPI/myResource/myId.json` but it cant give me control of what was send to this url.
Maybe thats bet i used `GET` request example. Lets say we are in case of POST. Nock gives us mock of what will be returned but not check of request body before request send. What we want to test is this request body.

[2019-09-17 22:43] kevva commented on #878
https://github.com/nock/nock#specifying-request-body

[2019-09-18 10:22] smoliji opened #881 "How to stream response after knowing the Content-Type?"
#### What would you like to discuss?

How to use `got.stream` to stream a file response to writable stream, after I have information about the file type - defined in Content-Type header from the response?

I short:
[code]

I have prepared an MWE [here](https://github.com/smoliji/webfile-stream-to-stream), where I do this task with the [`request`](https://github.com/request/request) library as well

[2019-09-18 17:14] szmarczak commented on #881
Duplicate of #223

[2019-09-18 17:14] #881 closed

[2019-09-19 02:25] Rokt33r opened #882 "Replace tough-cookie"
#### What problem are you trying to solve?

I'm back from here. https://github.com/sindresorhus/got/issues/811
It is an issue of tough-cookie library. But the fix is in stale status for several months...

#### Describe the feature

So I'm thinking it would be really nice if `got` provides an abstract interface so I can use other cookie store than tough-cookie.

#### Checklist

- [x] I have read th

[2019-09-19 03:42] sindresorhus commented on #882
Out of curiosity, what other cookie storage would you use?

[2019-09-19 06:40] szabolcs-szilagyi commented on #781
nice to see the new alpha version :tada: , but since it is an alpha version feel like I must ask:
do you plan to include the fix in a patch for v9.6?

[2019-09-19 13:58] szmarczak commented on #882
https://github.com/salesforce/tough-cookie/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+author%3ARokt33r

You haven't opened such issue.  Not to mention that `tough-cookie` is RFC-compliant.

[2019-09-19 14:54] jaulz commented on #876
I raised a PR for the second issue here: https://github.com/sindresorhus/got/pull/883

[2019-09-19 15:24] tobenna commented on #882
I think @Rokt33r is referring to https://github.com/salesforce/tough-cookie/pull/130

[2019-09-19 16:30] szmarczak commented on #882
Ah. In this case I would just open a new PR. The fix is very simple.

[2019-09-19 16:32] szmarczak commented on #882
You just need to pass an object having these and you're good to go:

https://github.com/sindresorhus/got/blob/f59a5638b93c450dc722848b58b09a44f730a66f/source/request-as-event-emitter.ts#L49-L50

[2019-09-19 16:40] szmarczak commented on #876
@jaulz Great! What about `cannot specify own statusCodes in retry object (typescript error)`?

[2019-09-20 05:19] jaulz commented on #876
@szmarczak just created another PR for it 😊 Also could we export the types from a central place? Currently, it imports the types from multiple files and the dist folder which looks quite confusing and untypical.

[code]

[2019-09-20 05:26] sindresorhus commented on #876
@jaulz Yes, we should re-export all relevant types in https://github.com/sindresorhus/got/blob/master/source/index.ts You should not have to go digging into the folder structure.

[2019-09-20 05:34] jaulz commented on #876
@sindresorhus is that something you are already working on or should I raise a PR?

[2019-09-20 06:12] sindresorhus commented on #876
@jaulz A PR would be great. You know better that us what types you need exported.

[2019-09-20 06:18] jaulz commented on #876
Okay, will tackle it next week 😊

[2019-09-20 09:07] ConMak opened #885 "`options.body` is not cleaned up when using the `json` option"
#### Describe the bug

 - Node.js version: 12.9.0
 - OS & version: Windows 10
 - Got version: 10.0.0-alpha.1.1

#### Actual behavior
I am trying to refresh auth token when I get 401 status code, but after calling retryWithMergedOptions I am getting an error "The `body` option cannot be used with the `json` option or `form` option"

To bypass this behavior I had to set the body option to null in th

[2019-09-20 09:15] smoliji commented on #881
Thanks, totally missed that one!

Just for completion, this seems like the correct way to do this and to fix the "stuck issue", adding `resume()` resolves it, as proposed in https://github.com/sindresorhus/got/issues/223#issuecomment-405076226

[code]

[2019-09-20 13:47] sayem314 opened #886 "Cannot write to stream"
code example
[code]

got downloads, reports progress but cannot pipe to file

[2019-09-20 18:00] szmarczak commented on #886
please elaborate.

It would be very useful if you filled the issue template.

[2019-09-20 19:29] builtbylane opened #887 "Doesn't catch `body` (Stream) errors"
How do I prevent my app from crashing when posting a stream to an offline destination? In both examples below I get:
[code]

(I'm on node v12.1.0)

[code]

this also crashes my app

[code]

#### Checklist

- [x] I have read the documentation.

[2019-09-20 20:04] szmarczak commented on #887
https://runkit.com/szmarczak/5d852fccb56e55001a0493b1

[2019-09-20 20:13] szmarczak commented on #887
I think we need to use `Stream.pipeline` here: https://github.com/sindresorhus/got/blob/master/source/request-as-event-emitter.ts#L229

[2019-09-20 20:16] szmarczak commented on #873
Is this specific for `keyv-file`? Does it work with just `keyv`?

[2019-09-21 01:37] yovanoc commented on #873
It doesn't work either

[2019-09-21 08:31] szmarczak commented on #873
So the method is POST, and what's the status code?

[2019-09-21 08:33] yovanoc commented on #873
200

[2019-09-21 08:44] yovanoc commented on #873
In fact, even with a `new Map()` as a cache, and a `console.log(cache)` after each request it doesn't seem to work too

![image](https://user-images.githubusercontent.com/7302317/65370768-c9aa6480-dc5c-11e9-92fa-21a94845d6cf.png)

[2019-09-21 09:02] szmarczak commented on #873
And what are the response headers?

[2019-09-21 09:04] yovanoc commented on #873
![image](https://user-images.githubusercontent.com/7302317/65371029-91585580-dc5f-11e9-9c39-bf3a9b50f2b3.png)

[2019-09-21 09:19] szmarczak commented on #873
I don't see any outstanding behavior. It works as expected. https://httpwg.org/specs/rfc7234.html#rfc.section.4.4

`POST` is one of the unsafe methods.

[2019-09-21 09:19] #873 closed

[2019-09-21 09:20] szmarczak commented on #873
I think what you're looking for is #875

[2019-09-21 09:22] yovanoc commented on #873
Oh I was thinking it would store the response body in the cache if the request doesn't change. Like params etc

[2019-09-21 10:17] kevva commented on #834
This is working fine for me:

[code]

[2019-09-22 15:16] vongohren opened #888 "Why is not the query string attached to the url"
#### What would you like to discuss?
Im trying to use query option, which in 10.0.0 will be called searchParams.
https://github.com/sindresorhus/got#searchparams

I tried this code, but the query string is never appended to the URL
[code]
I tried with a simple string and everything

Why not? Am I using it wrong?

...

#### Checklist

- [ x ] I have read the documentation.

[2019-09-22 15:37] sindresorhus commented on #888
Are you using the alpha of v10? https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.1

[2019-09-22 21:54] vongohren commented on #888
@sindresorhus no im currently on 9.6.0. Sorry for not mentioning that. But tought it was clear as I mentioned that it will switch to searchParams in 10.0.0

[2019-09-23 02:19] Rokt33r commented on #882
@sindresorhus I'm not using any for now. But if `got` makes it possible, I would have options to fork tough-cookie or to make another one from the scratch.

@szmarczak I think we need to define cookieJar interface in this package too. Otherwise, I still need to install @types/tough-cookie every time.

Also it would be awesome if the new interface's methods return Promise rather than accepting call

[2019-09-23 09:59] szmarczak commented on #882
:+1:

I agree. Maybe we'll see these promises in Got v11. Let's stay with the callbacks for now.

[2019-09-23 10:07] sindresorhus commented on #882
@szmarczak It would be nice not to be so tied to `tough-cookie`. We could maybe support both though. Detect whether the input is `tough.CookieJar` and if not, have a nicer general interface using promises. ?

[2019-09-23 14:41] sindresorhus opened #891 "Fix building Got"
Currently, when publishing, the package only ends up containing a `dist/package.json` file...

However, running `npm build` normally at least puts the correct files in `dist/source`, although that's incorrect too, they should be in `dist`.

[2019-09-24 15:11] EdJoPaTo commented on #891
The problem with source files being in `dist/source` is the `tsconfig` `inlude`: it contains more than one folder (`source` and `test`) which results in subfolders for the `dist` folder.

ESLint 2 requires the test folder to be compiled in order to lint them. (see xojs/eslint-config-xo-typescript#15)
Having multiple tsconfigs might solve the problem (one extending the other) but is not nice in my

[2019-09-24 17:04] sindresorhus commented on #891
That's just today: https://github.com/sindresorhus/got/commit/640c30bbe37fa399a6f9c96357d897f45e54f52f#diff-e5e546dd2eb0351f813d63d1b39dbc48R14 When this problem was discovered it only had `source` there.

[2019-09-24 19:00] szmarczak commented on #823
I forgot to clean up some things:

https://github.com/sindresorhus/got/blob/640c30bbe37fa399a6f9c96357d897f45e54f52f/test/retry.ts#L54

^ this line should be removed

[2019-09-24 23:13] AlbertEmil opened #892 "PUT request with option `JSON: true` throws `ParseError: Unexpected token O in JSON at position 0`"
I am currently implementing some PUT requests and encountered some weird (at least to me) behaviour: When trying to send some JSON-formatted payload through a PUT request, a `ParseError` will be raised:

The code snippet for reference is as follows:

[code]

Since `json` option is set to true, the argument passed to the `body` should be parsed automatically into a string as [stated in the docs](ht

[2019-09-27 07:36] avimar commented on #7
For socks5 proxies, this package seems to work as a replacement for node-tunnel which only handles http proxies:

[code]

[2019-09-28 08:20] Feverqwe commented on #876
I think error (via util.inspect) has less information, before I can see url, body, and gotOptions
[code]

p.s. response.request.gotOptions was moved to response.request.options (migrate manual don't have this info)

[2019-09-28 08:25] szmarczak commented on #876
@Feverqwe read it again:

[2019-09-28 08:26] Feverqwe commented on #876
I have debug for logging, and in log I ses less information for debug and fix error. I don't see stack, I don't see request url and etc.

[2019-09-28 08:27] szmarczak commented on #876
Ah you meant the `gotRequest` thing...

[2019-09-28 08:30] szmarczak commented on #876
Runkit example please? It works be much easier to figure things out.

[2019-09-28 08:36] Feverqwe commented on #876
Example:
[code]
Result:
[code]

[2019-09-30 15:02] gzaripov commented on #876
I tried got@10 and I stumbled upon this error
`'url' must not begin with a slash when using 'prefixUrl'`.
It looks weird for me, it is common use case when I make a `Transport` abstraction in my app and use relative urls in many places with relative urls. And it is important to have leading slash because it gives reader knowledge that this is a relative url.

What are cons of allowing leading slas

[2019-10-01 16:28] leodutra commented on #774
I have a situation here: I want to use the stream events but also get the response headers.
Is the `.got(url).on('response', ...)` the best approach or is there any other feature to move the headers to the stream?

[2019-10-01 16:53] SamHH commented on #876
Not sure if this has been raised yet or if it'd be considered a bug, but with the v10 alpha the `dom` property is required in `lib` in `tsconfig.json` due to the use of `URLSearchParams`, an ambient which `dom` provides. Given that this project is targeted at Node.js, the `dom` property really shouldn't be required. Instead, it'd probably make more sense to pull that interface from `@types/node`,

[2019-10-01 17:19] jaulz commented on #876
@SamHH can you please raise a PR for it?

[2019-10-01 18:06] SamHH commented on #876
@jaulz Sure, I'll give it a go this evening.

[2019-10-02 22:01] zzyyxxww commented on #888
@sindresorhus today I used 9.6.0 with the alpha docs thinking "I finally found one sindre module that isn't awesome". works great now.
I should have read the warning in the readme, but it might have been easier to catch if it was at the topmost, or at least next to a ⚠️.

[2019-10-03 00:08] vongohren commented on #888
Could we try to figure out why its happening? Did it work for you @zzyyxxww?

[2019-10-03 02:31] zzyyxxww commented on #888
you need to install the alpha version, for yarn I ran `yarn add got@10.0.0-alpha.1.1`.

[2019-10-03 04:36] vongohren commented on #888
But I dont want to run an alpha version. I would expect the stable 9.6.0 would work

[2019-10-03 10:10] sindresorhus commented on #891
Fixed by https://github.com/sindresorhus/got/pull/890

[2019-10-03 10:24] #356 closed

[2019-10-03 23:19] zzyyxxww commented on #888
@vongohren then use the documentation for v9
https://github.com/sindresorhus/got/blob/v9.6.0/readme.md

[2019-10-04 17:37] vongohren commented on #888
@zzyyxxww i am using that, if you look at my code and the code for 9.6.0

[code]

Its the same. So please read the issue before making assumptions

[2019-10-04 20:25] zzyyxxww commented on #888
Both your code and the code from the readme is working as expected for 9.6.0, I created a project for you to test.
https://github.com/zzyyxxww/got-9.6.0-search-params

I'm making assumptions based on what you write. When you said you were on 9.6.0, I assumed you were on 9.6.0. Can you confirm you are in fact in 9.6.0?

[2019-10-10 07:47] Zyles opened #894 "Cache duration"
#### What problem are you trying to solve?

I want to add a custom cache duration for requests despite what the server is telling me.

#### Describe the feature

Able to set the duration of a cached request.

Some data is not changed often and to make less requests across the network I want to cache the response for a longer period instead of having to build my own cache layer.

#### Checklist

-

[2019-10-10 20:17] szmarczak commented on #894
Duplicate of #875

[2019-10-10 20:17] #894 closed

[2019-10-11 13:10] jburghardt commented on #792
A 9.6.1 release would be appreciated

[2019-10-11 20:21] patrickocoffeyo commented on #887
I've just experienced this exact same problem, with got 9.6. Downgrading to 8.3 was a viable workaround, but obviously isn't a permanent fix.

[2019-10-15 11:26] Feverqwe commented on #876
Error `Cannot read property 'request' of undefined` in render process.
[code]
Maybe it shoud be
[code]

[2019-10-16 13:46] szmarczak commented on #876
@Feverqwe currently electron support is broken for now. It would be great if you could make a PR.

[2019-10-16 23:16] gajus opened #896 "Support sending multiple headers with the same name"
I need to send a HTTP request with multiple headers of the same name, e.g.

[code]

For a bit of context, this is spec compliant request:

https://stackoverflow.com/questions/4371328/are-duplicate-http-response-headers-acceptable

I have tried using an array (i.e. `{'x-foo': ['1', '2']}`), but that just sends a comma separated list of values under the same header, i.e.

[code]

, which is not grea

[2019-10-17 18:56] szmarczak commented on #896
then encode it.

[2019-10-17 19:14] gajus commented on #896
I don't control the server.

The API requires to send two headers.

[2019-10-20 03:22] ayZagen opened #897 "'context' keyword is stripped out from request body"
#### Describe the bug

 - Node.js version: 12.11.0
 - OS & version: ubuntu 18.04
 - got version: 10.0.0-alpha.2.2

`context` key is stripped from body.

#### Actual behavior
when we include `context` in our request body it is stripped out from outgoing request.
...

#### Code to reproduce

[code]

#### Checklist

- [x] I have read the documentation.
- [x] I have tried my code with the latest versi

[2019-10-20 16:20] ayZagen commented on #897
culprit is at [merge.ts](https://github.com/sindresorhus/got/blob/74301bb2c84a0d30306a049bffea653ca96f4d59/source/merge.ts#L45). Is it really necessary for checking context in every source ?

[2019-10-23 10:18] vbourgeois opened #899 "Fix Electron usage"
#### Describe the bug

 - Node.js version: 12.13.0
 - Electron version : 7.0.0
 - OS & version: linux mint 19.2

When using got in electron, useElectronNet option is not working with electron 7 for POST requests, returns `net::ERR_INVALID_ARGUMENT` error.

#### Actual behavior

HTTP request returns the following error :
[code]

#### Expected behavior

Correct HTTP response

#### Code to reproduce

[2019-10-23 10:47] vbourgeois commented on #899
For GET requests, I get the following error :

[code]

with

[code]

It is working if I remove `useElectronNet` option.

[2019-10-23 20:27] szmarczak commented on #443
Closing this in favor of #899

[2019-10-23 20:27] #443 closed

[2019-10-23 22:10] Zyles opened #900 "Add query param to every request"
#### What would you like to discuss?

I want to add a param to every request on the client level. I used to do this in axios but I don't understand the documented syntax. The documention only mentions using it in the actual call.

I assume I need to use the searchparams option. Also why was it named searchparams instead of just params...

Anyway. It is hard to Google the word "got" so I can't find

[2019-10-23 22:47] Zyles opened #901 "RequestError: getaddrinfo ENOTFOUND"
#### What would you like to discuss?

I can not seem to make a request. Using "got": "^9.6.0" and  "electron": "^5.0.11"

Error:

`RequestError: getaddrinfo ENOTFOUND`

How can I find out the full URL of the request to make sure it is correct?

Code:

[code]

[code]

If I change searchParams to `{ searchParams, useElectronNet: true }`

and

`import { electron } from 'electron'`

I get error:
`"Err

[2019-10-23 23:11] Zyles commented on #901
Tried `10.0.0-alpha.2.2`

Now I get `Uncaught Error: socket hang up`

This works with nodejs http and axios. So not sure what I did wrong here.

[2019-10-23 23:37] Zyles commented on #888
I too seem to have this problem on latest alpha.

I can't access URLs that require a token in the query and get 401 unauthorized and failed requests.

[2019-10-23 23:48] Zyles commented on #901
Okay so prefixUrl does not seem to work.

Uncommenting it and using a full URL I at least get a Transform response:
[code]

Also seem to have the problem appending parameters as seen in this ticket https://github.com/sindresorhus/got/issues/888

Was hoping to replace axios for the retry and cache functionality but I guess I will wait a bit longer for these bugs to be fixed.

[2019-10-25 01:21] posabsolute commented on #58
I know this is old, but this still an issue? Can we pass cookies when using promises?

[2019-10-25 08:40] szmarczak commented on #901
Please read the documentation before making an issue.

From the [docs](https://github.com/sindresorhus/got/blob/master/readme.md#errors):

[2019-10-25 08:40] #901 closed

[2019-10-25 09:00] szmarczak commented on #888
I don't know what are you doing wrong, for me it works as expected:

https://runkit.com/szmarczak/5db2b922ae6c4e001adf480f

[2019-10-25 09:00] #888 closed

[2019-10-28 05:26] davalapar opened #902 "timeouts not working"
#### Describe the bug

 - Node.js version: 12.10.0
 - OS & version: Win7 x64

#### Actual behavior

Implementing a simple request timeout is quite hard guys.

The syntax is as simple as "if 7000 milliseconds pass after I created this request, and I don't want it to retry, it should throw an Error", but it doesn't.

[code]

[code]

[code]

[code]

Shouldn't the got request just throw regardless of

[2019-10-28 05:35] sindresorhus commented on #902
What is your Got version?

[2019-10-28 05:39] davalapar commented on #902
Hi mate thanks for response, it's 9.6.0.

[2019-10-28 05:46] davalapar commented on #902
Hey man, just also tried it on 10.0.0-alpha.2.2, still getting stuck sometimes.

I also don't think it's a user-agent problem, with or without useragent set to null it still gets stuck

[2019-10-28 07:59] artem-a opened #903 "Sending file doesn't work"
#### Describe the bug

 - Node.js version: v10.17.0
 - OS & version: Ubuntu 18.04 x64

Got doesn't send a file through form-data. I send form-data to the Mailgun api and get an error

[code]
#### Code to reproduce

[code]
This code work properly with 8.3.0 version, but doesn't work with versions 8.3.2, 9.x

#### Checklist

- [x] I have read the documentation.
- [x] I have tried my code with the la

[2019-10-28 10:19] davalapar commented on #903
have you tried using `multi-part` instead https://www.npmjs.com/package/multi-part

[2019-10-28 20:42] szmarczak commented on #902
Runkit example please? I can't confirm nor deny your issue right now. I need something reproducible.

[2019-10-29 06:47] Huachao opened #904 "How to calculate the response body size"
#### What would you like to discuss?
When I migrate from the `request` package, I found a requirement that I can't be satisfied that I want to calculate the response body size (without `Content-Length` header in response). Previously, I add an event listener to the response object like following
[code]
In the above example, I can get the data length of compressed data.
...

#### Checklist

- [x] I

[2019-10-29 07:58] artem-a commented on #903
@davalapar thanks a lot, it works for me.

[2019-10-29 08:13] sindresorhus commented on #904
You can add a `.on('response')` to Got too.

[2019-10-29 08:18] Huachao commented on #904
@sindresorhus thanks 😄

[2019-10-29 08:51] Huachao commented on #904
@sindresorhus thanks for your quick reply. Although I can listen to the emitted `response` event, the response here is fully received, unlike the above example, the trunks received in `data` events are compressed data(for gzip content encoding), and in`got` I can only get the uncompressed data trunks.

[2019-10-29 11:21] pke opened #905 "v10.0.0-alpha.2 dist folder missing"
#### Describe the bug

 - Node.js version: 12
 - OS & version: Windows 8.1
 - got version: v10.0.0-alpha.2

#### Actual behavior

The latest alpha release from NPM does not come with the dist folder, therefore the lib can not be resolved as per `package.json` `main` entry that points to the `dist` folder

#### Checklist

- [X] I have read the documentation.
- [X] I have tried my code with the late

[2019-10-29 12:11] sindresorhus commented on #905
I think you missed the `.2` at the end. Make sure you copy-paste the install instruction:

[code]

[2019-10-29 12:11] #905 closed

[2019-11-01 02:24] davalapar commented on #902
found it weird really, it's just a recursive scraper loop involving the following code:

[code]

i ended up writing https://github.com/davalapar/request where what i did was create a timeout that aborts the request once it times out, then once response is created i clear that and create a new timeout to destroy the request and response this time once it times out - kinda worked well so far.

[2019-11-01 02:29] #902 closed

[2019-11-01 08:37] sindresorhus commented on #758
This is still up for grabs.

[2019-11-01 09:03] sindresorhus commented on #897
I think the problem is that `json`, `body`, `form`, should not be passed through `merge.ts` at all. @szmarczak would know more.

I've added a failing test for this: https://github.com/sindresorhus/got/commit/cb042ac8f75e3cbac562400e39cf86a80adb0852

[2019-11-01 09:06] sindresorhus commented on #896
We should indeed support this. We should change it so that supplying an array causes it to create multiple headers. Node.js does support this already `request.setHeader('Cookie', ['type=ninja', 'language=javascript']);`, so we're probably just incorrectly stringifying the array somewhere.

PR welcome to fix this.

[2019-11-01 12:07] gajus opened #907 "Promise never resolved/ rejected if connection is accepted but socket is terminated"
#### Describe the bug

 - Node.js version: N/A
 - OS & version: N/A

#### Actual behavior

Promise is never resolved/ rejected.

#### Expected behavior

Promise resolved/ rejected.

#### Code to reproduce

https://repl.it/@gajus/CapitalDangerousMultitasking

[2019-11-01 12:09] gajus commented on #907
Is there any interim workaround I could deploy here?

[2019-11-01 14:16] sindresorhus commented on #887
I switched to use `stream.pipeline` in https://github.com/sindresorhus/got/commit/633651fb711dac21dfd573fbbd25d77968679aa3, but we still need a regression test before closing this. A PR for that would be very welcome.

[2019-11-01 14:22] sindresorhus commented on #886
Submit a pull request with a [failing test](https://github.com/avajs/ava/blob/master/docs/01-writing-tests.md#failing-tests) and we'll take a closer look. I'm requesting this as most issues like these are just users using the module incorrectly or an unrelated problem.

[2019-11-01 14:22] #886 closed

[2019-11-01 14:42] sindresorhus commented on #907
Set the `timeout` option, for example `{timeout: 10}`.

[2019-11-01 14:44] sindresorhus commented on #907
Would be great if you could submit a pull request with a [failing test](https://github.com/avajs/ava/blob/master/docs/01-writing-tests.md#failing-tests). That would help get this fixed faster.

[2019-11-01 15:21] gajus commented on #907
I don't use TypeScript, so ... cannot really contribute.

The repl.it includes a broken test case. https://repl.it/@gajus/CapitalDangerousMultitasking

For what it is worth, I have worked around the issue using the solution I proposed in that Stack Overflow issue.

https://github.com/gajus/timeout-idle-promise

[code]

[2019-11-01 15:32] sindresorhus commented on #907
The tests are not yet typed, so they're practically just JS: https://github.com/sindresorhus/got/blob/master/test/timeout.ts

[2019-11-01 16:01] gajus commented on #907
Huh, interesting. This appears to be some bigger bug.

Setting timeout to `{ timeout: 10, }` works, but setting timeout to `{ timeout: 1000, }` or any greater value does not.

[2019-11-01 16:03] szmarczak commented on #897
I'll investigate ASAP

[2019-11-01 16:13] szmarczak commented on #907
For me it rejects as expected:

![image](https://user-images.githubusercontent.com/36894700/68038777-f70e1780-fcca-11e9-8ae0-d7fbcebb73b0.png)

haven't tested that locally yet

[2019-11-01 16:15] gajus commented on #907
Yeah, for some reason repl.it does not behave the same way as if you try locally/ docker.

[2019-11-01 16:17] gajus commented on #907
Setting timeout too low triggers `TIMEOUT` error.

What I am after is the `ECONNRESET` error.

For a bit of context, got v9 throws `ECONNRESET` as expected.

[2019-11-01 17:18] sindresorhus commented on #907
@gajus I'm getting `ECONNREFUSED` in Repl.it when setting a timeout.

[2019-11-01 17:35] gajus commented on #907
No, I am seeing this locally on Node.js v10 and Node.js 13.

[code]

This script just dies without ever resolving the promise.

[2019-11-01 18:12] szmarczak commented on #907
Yep, it dies locally too.

[2019-11-01 18:20] szmarczak commented on #907
Okay, my fault. I forgot that the connection may be dropped by the server. I assumed that `socket hung up` is a client-side-only related thing. Fixing ASAP.

[2019-11-01 19:45] #907 closed

[2019-11-01 20:02] szmarczak commented on #580
We're targeting Node 10 now, so maybe let's deprecate legacy `Url` usage?

[2019-11-01 20:12] sindresorhus commented on #891
Reopening as the build script is still broken. I had the same issue as before when publishing alpha.3 just now. I had to manually publish to fix it.

1.  Is that the `package.json` is copied into `dist`, because we still have a `package.json` import call in the test. This screw up packaging.
2. However, if we fix `1`, the fix in https://github.com/sindresorhus/got/pull/890/files#diff-21e9ddd931626

[2019-11-01 20:14] sindresorhus commented on #580
You mean deprecating specifying an object as the first argument, right? If yes, then I agree.

However, should we still continue supporting specifying URL components as options as the second argument?

[2019-11-01 20:15] sindresorhus commented on #891
@szmarczak Maybe we should just drop importing package.json? Do we really need the Got version in the useragent string? I think it should be enough with just the name.

[2019-11-01 20:49] sindresorhus commented on #876
Alpha 3 is out: https://github.com/sindresorhus/got/releases/tag/v10.0.0-alpha.3

[2019-11-01 21:53] szmarczak commented on #891
I agree.

[2019-11-01 22:06] szmarczak commented on #580
Yup. And remove it in our code too.

[2019-11-02 00:39] sindresorhus commented on #580
Let’s do it.

[2019-11-02 09:04] #897 closed

[2019-11-02 10:15] szmarczak commented on #896
@gajus You're looking at parsed request received by the server. It **is** split into two headers:

[code]

[code]

[2019-11-02 10:15] #896 closed

[2019-11-02 10:21] szmarczak commented on #903
You must've done something incorrectly. It works as expected.

[2019-11-02 10:21] #903 closed

[2019-11-02 11:20] szmarczak commented on #904
The best solution would be to set `options.decompress` to false, and then decompress it in the `afterResponse` hook.

[2019-11-02 11:20] #904 closed

[2019-11-02 11:24] szmarczak commented on #861
no

[2019-11-02 11:24] #861 closed

[2019-11-02 11:25] szmarczak commented on #892
In the latest alpha version `json` is an object.

[2019-11-02 11:25] #892 closed

[2019-11-02 11:27] szmarczak commented on #774
Closing because lack of activity. This is not an actual problem.

[2019-11-02 11:27] #774 closed

[2019-11-02 11:27] #834 closed

[2019-11-02 11:32] szmarczak commented on #858
Unable to reproduce the issue: https://runkit.com/szmarczak/5dbd68dc7dacab0014b541eb

[2019-11-02 11:32] #858 closed

[2019-11-02 15:06] #838 closed

[2019-11-02 19:03] Siilwyn commented on #850
Just got reminded of this issue again because of a dependency update service [opening this PR](https://github.com/Siilwyn/cheers-receiver/pull/26) to upgrade `got`, still the CI returns the same errors. CI jobs that upgrade other dependencies run fine in the same environment so this has to be an issue with `got` as far as I understand.

[2019-11-03 03:11] #891 closed

[2019-11-03 22:36] gajus opened #916 "Do not treat set-cookie as a special cookie"
#### Describe the bug

It appears that `set-cookie` is being treated as a special cookie that is parsed into an array when multiple values are present, ie.

#### actual behaviour

given these two responses:

[code]

got (^10.0.0-alpha.3.2) parses the first one as:

[code]

and the second one as:

[code]

#### expected

Both cases should return an array of values when the same array is present mult

[2019-11-03 22:47] gajus commented on #916
For what it is worth, I have fixed it with this wrapper:

[code]

[2019-11-03 23:25] gajus commented on #916
Not 100% sure how to handle certain cases, e.g. What to do when the same header=value pair was included multiple times.

[code]

[2019-11-04 07:49] szmarczak commented on #916
This is not "special cookie". This is the right behavior according to the spec.

[2019-11-04 07:49] #916 closed

[2019-11-04 08:14] gajus commented on #916
I thought this might be the case, though I couldn't find the spec for this.

Can you share a link please?

[2019-11-04 15:50] szmarczak commented on #916
Node.js docs: https://nodejs.org/api/http.html#http_message_headers

Spec: https://tools.ietf.org/html/rfc2616#section-4.2

[2019-11-04 16:09] szmarczak commented on #850
Your server doesn't support HTTPS and you have NOT specified the protocol, so by default it's `https:`. There was a bug in Got <= 9.3.0, if you passed an object the default would be `http:` instead of `https:`.

[The documentation says clearly:](https://github.com/sindresorhus/got/tree/v9.3.0#url)

In the next upcoming release it will throw an error if you specify no protocol.

[2019-11-04 16:09] #850 closed

[2019-11-04 17:41] szmarczak opened #918 "Retrying inside `afterResponse` hook should trigger `beforeRetry` hook"
Just add

[code]

and make some tests.

https://github.com/sindresorhus/got/blob/b0dfc958cbe9878645582c3b98f225f11ad22908/source/as-promise.ts#L86

[2019-11-04 19:29] szmarczak commented on #852
Fixed

[2019-11-04 19:29] #852 closed

[2019-11-04 19:40] szmarczak commented on #871
Fixed

[2019-11-04 19:40] #871 closed

[2019-11-04 20:59] Siilwyn commented on #850
That makes sense, specifying the protocol fixes the issue. Thanks for the reply!

This change should have been a major semver version bump because it changes the default option value, even though it was unwanted/invalid behavior.

[2019-11-04 21:18] szmarczak commented on #850
Anyway, you could've saved us some time by knowing your code. If you don't use HTTPS, then how is it possible to see some SSL error? Investigate, don't wait until open source people review *your* code for you :P It took me <10 mins to get to the cause.

[2019-11-05 14:57] suprMax opened #919 "Throw an error after receiving X bytes when using streams"
#### What would you like to discuss?
I want to be able to bail if the response body size goes over a certain threshold. I am using this library to request and process data from external urls and not checking this would allow to potentially DoS the service.

The shortest implementation I could come up with was this:

[code]

Is there an easier way to do this? It seems that as soon as I switch into

[2019-11-05 15:55] #568 closed

[2019-11-05 15:55] #885 closed

[2019-11-05 16:02] szmarczak commented on #919
This is almost identical to #904

That's right. If the server doesn't specify the `content-length` header there is no real way to get the length of the response but to capture it.

[2019-11-05 16:03] szmarczak commented on #919
I'll leave this issue open, although there were at least 3 issues very similar to this. If you have any ideas how to solve this, feel free.

[2019-11-05 16:11] #874 closed

[2019-11-05 17:48] szmarczak opened #920 "Generate documentation from types"
https://github.com/TypeStrong/typedoc

It'd be best to generate Markdown, but it can be JSON too. We can generate Markdown later.

[2019-11-05 20:00] stevenvachon commented on #874
Thank you

[2019-11-05 21:52] szmarczak commented on #874
You still need to wait for Got 10 or force Got 9 to use `@szmarczak/http-timer@3.0.0`.

[2019-11-06 04:31] leodinas-hao opened #923 "When version 10 will be released?"
#### What would you like to discuss?

... Do we have a schedule of release date for v.10? Thank you very much in advance.

#### Checklist

- [x] I have read the documentation.

[2019-11-06 06:21] sindresorhus commented on #923
In a couple of days.

[2019-11-06 06:32] leodinas-hao commented on #923
Fabulous! Thanks very much.

[2019-11-06 06:32] #923 closed

[2019-11-06 06:35] sindresorhus commented on #920
I’m not a big fan of Typedoc. The docs UI it creates is not very user friendly and the generator itself is missing support for lots of TS features and it’s quite buggy. There’s unfortunately no other docs generator for TS.

[2019-11-06 09:42] szmarczak commented on #920
Is there something that just reads comments? E.g. if we know what we are documenting, what arguments does it take, what's its description, we can generate markdown on our own.

[2019-11-06 09:42] szmarczak commented on #920
I mean we could code the look of the docs.

[2019-11-06 12:00] suprMax commented on #919
I think if there was an event similar to `response` that would be fired when the stream is drained with both `response` object and collected `body` it would reduce the code drastically.

[2019-11-06 15:52] szmarczak commented on #919
I think it should be done via attaching a Transform stream.

[2019-11-06 15:55] suprMax commented on #919
you mean have like an extra plugin you can pipe `got` stream to? good idea

[2019-11-06 21:10] szmarczak commented on #746
@sindresorhus can we close this one and move to #875 ?

[2019-11-06 21:11] szmarczak commented on #845
Try the alpha version and let us know

[2019-11-06 21:11] #845 closed

[2019-11-07 04:13] sindresorhus commented on #920
I mean, we could still use it in addition to human written notes, but it's not good enough to replace our handwritten docs.

[2019-11-07 05:57] sindresorhus opened #924 "Add test and improve docs for `progress.total`"
The docs says:

But we have no tests to prove this.

- [ ] Add test
- [ ] Be more specific than "can happen when streaming". In what exact scenarios can it happen?
- [x] Make it `undefined` instead of `null`

[2019-11-07 16:23] szmarczak opened #925 "Don't throw on `204 No Content` when parsing response"
See https://github.com/sindresorhus/ky/issues/193

[2019-11-08 12:53] GeorgeBekh opened #926 "Timeouts don't work when establishing tcp connection"
#### Describe the bug

 - Node.js version: v12.12.0
 - OS & version: Debian GNU/Linux buster

#### Actual behavior

Request with timeout set to **1ms** actually fails in **10s** with message
[code]

#### Expected behavior

Request with timeout set to 1ms fails in 1ms.

#### Code to reproduce

[code]

#### Checklist

- [x] I have read the documentation.
- [x] I have tried my code with the latest ve

[2019-11-08 15:03] szmarczak commented on #926
Read the docs please.

[2019-11-08 15:03] #926 closed

[2019-11-08 15:03] szmarczak commented on #926
Okay, I'll save you some time `options.retry: 0`

[2019-11-08 19:40] GeorgeBekh commented on #926
Thanks, you're right.
Nevertheless it's really unintuitive and frustrating.
Especially because you have to read this line which is in the middle of a param description to really figure out what's wrong

[2019-11-08 19:45] szmarczak commented on #926
That's why there is a tick called `I have read the documentation`.
If you haven't read it, please don't check it. It won't make your issue less prioritized :wink:

If you have read the documentation in full, there's a big chance that this is a bug.
If you have not, perhaps you missed something (but we still can't be so sure).

It's just a hint for us where to look first - the documentation or the

[2019-11-08 19:59] GeorgeBekh commented on #926
Well i'd still consider it a bug. A bug of documentation. Because timeout option is essentially useless without the retry option.

As a user of your library when i set **all** timeout options to 1ms I expect the statement to execute withing the sum of those timeouts.
I as a new user really shouldn't have the ability to shoot myself in the leg that simply.
You shouldn't expect developers to know th

[2019-11-08 20:11] szmarczak commented on #926
What you're looking for `got.extend({retry: 0})`

[2019-11-08 20:24] GeorgeBekh commented on #926
It's okay as a workaround, but ideally i shouldn't have to think about it every time i start a new project.

It's very uncommon to **imply** retries. Take any http client: curl, fetch, golang's `http.Client`.

[code]

The ideal solution is to make retry default to `0`.
I understand you have to provide backwards compatibility, but you can at least warn about this unexpected behaviour in docs and fi

[2019-11-08 20:31] szmarczak commented on #926
I disagree. Most of the open source projects (that use Got) use the `retry` functionality.

[As per the docs:](https://github.com/sindresorhus/got#retry)

![image](https://user-images.githubusercontent.com/36894700/68508464-c4d25c00-026e-11ea-9ded-25c4c6d78234.png)

This is not an unexpected behavior. This is **indeed expected**.

If you want to change this behavior, feel free to open a new issue

[2019-11-08 20:37] GeorgeBekh commented on #926
I'm not saying that retry functionality is unexpected or shouldn't be used.
I'm neither saying that this functionality is undocumented.
What I'm actually saying that the "retrying by default" behaviour is **unexpected**.
How can you actually tell that these open source project use this option intentionally and not just by accident? :)  (Which can lead to the real bugs in these projects)

[2019-11-08 21:03] GeorgeBekh opened #927 "Default retries to 0"
#### What problem are you trying to solve?

Got's users can easily produce a bug while working with timeouts. I've definitely did and spent the first hour of my `got` experience troubleshooting.

Consider this possible scenario:
[code]

As a new user of the `Got` package who read the docs on timeout I expect this minor request to take 50ms **at max**. While in reality in this scenario it can take

[2019-11-08 21:05] GeorgeBekh commented on #926
Just for the sake of it :)
https://github.com/sindresorhus/got/issues/927

[2019-11-09 15:46] pmmmwh commented on #758
Hey! I can work on this issue next week. I guess a good first PR would be to make the source code strict mode compatible?

[2019-11-10 04:30] sindresorhus commented on #758
Yes, just keep in mind that is harder than it looks. There have been multiple attempts already, which have improved the types a lot, but still not managed to make it 100% strict.

[2019-11-12 11:11] arantes555 commented on #899
It is probably linked to a recent (undocumented) change in electron@7 where setting content-length explicitly fails : https://github.com/electron/electron/issues/21091

[2019-11-12 11:12] arantes555 commented on #899
(I have the same issue on `electron-fetch` https://github.com/arantes555/electron-fetch/issues/17 )

[2019-11-12 15:03] szmarczak commented on #899
@arantes555 thanks for the heads up :)

[2019-11-12 17:55] szmarczak commented on #717
Closing in favor of #899

[2019-11-12 17:55] #717 closed

[2019-11-13 05:29] sindresorhus commented on #927
Retries are useful for most users as networking is inherently unreliable. However, we should definitely make this behavior clearer in the docs.

[2019-11-13 08:47] sindresorhus commented on #795
How does the error stack trace look when you do that?

[2019-11-13 10:51] szmarczak commented on #795
It looks like this:

[code]

It'll be more readable without the first line of the NockError because it's already contained in the RequestError:

[code]

[2019-11-14 12:31] szmarczak opened #929 "Pass error thrown in the `init` hook to `beforeError` hook"
Currently that's not possible, the `init` hook is called by `normalizeArguments`, which is catched directly by the Got promise.

[2019-11-14 13:52] szmarczak opened #930 "When redirect fails, don't retry from scratch"

[2019-11-14 13:52] szmarczak opened #931 "`promise.json()` doesn't work if the promise has been already resolved"

[2019-11-14 16:18] szmarczak commented on #930
Actually it shouldn't. It should retry the failed redirect request.

[2019-11-14 19:08] szmarczak opened #932 "The retry logic should be moved into `as-promise.ts`"
Currently it's located at `request-as-event-emitter.ts`

---

Need to also do https://github.com/sindresorhus/got/pull/921#discussion_r346711144 then.

[2019-11-15 05:26] heroboy opened #933 "`got` will success when server response timeout."
#### Describe the bug

 - Node.js version: 12.4.0
 - OS & version:  windows10

#### Actual behavior

`got` success return response and body.

#### Expected behavior

Like `request` lib, raise a timeout error.

#### Code to reproduce

[code]

- [x] I have read the documentation.
- [x] I have tried my code with the latest version of Node.js and Got.

[2019-11-15 06:14] heroboy commented on #933
[code]
`retry` will be printed after resp got.

[2019-11-15 06:38] heroboy commented on #933
After inspect the code. I guess:
When timeout, you will call `request.abort()`, this will make the response emit 'end' event.
And then in 'as-promise.ts' it successfully await the stream, and resolve the promise.

[2019-11-15 07:00] sindresorhus commented on #795
The last one looks good 👍

[2019-11-15 08:28] szmarczak commented on #933
It's fixed in the alpha version.

[2019-11-15 08:28] #933 closed

[2019-11-15 15:42] arantes555 commented on #899
@szmarczak it turns out, in this specific case, it is indeed a breaking change in electron's API but not a bug per-say. You just cannot set explicitly a `content-length` in electron >= 7, it is computed automatically in electron.

[2019-11-16 06:40] #792 closed

[2019-11-16 06:40] #867 closed

[2019-11-16 06:40] #580 closed

[2019-11-16 06:40] #877 closed

[2019-11-16 06:40] #882 closed

[2019-11-16 06:40] #925 closed

[2019-11-16 06:40] #930 closed

[2019-11-16 06:40] #918 closed

[2019-11-16 06:40] #931 closed

[2019-11-16 11:19] unixfox opened #934 "Disable method overwriting"
#### Describe the bug

 - Node.js version: v13.1.0
 - OS & version: ArchLinux
 - Got library version: commit https://github.com/sindresorhus/got/commit/518f0f5906e1fcd38691555b17fb91db643f3d47

When doing a POST request with `followAllRedirects: true` as an option to an endpoint that redirect with a status code of 302 the library `got` send a POST request to the new endpoint instead of doing a sim

[2019-11-16 20:53] szmarczak commented on #934
Actually this is not a bug, as the spec allows method overwriting.

[2019-11-16 20:54] szmarczak commented on #934
@sindresorhus Should we make an option for this?

[2019-11-16 23:41] szmarczak commented on #934
Another solution would be to retry with GT if method overwriting fails.

In other words, it would automatically fallback to GET.

[2019-11-17 10:17] unixfox commented on #934
I don't really understand why it shouldn't follow the same behavior as a 303.
I just tested by changing `res.redirect(302, "/redirect");` to `res.redirect(303, "/redirect");` in the Express code and it works like I expected:
[code]
I mean isn't the issue #568 about to clone the behavior of a 303 to a 302/301?

Why `got` shouldn't follow the same behavior as `request`, other web browsers (Firefox,

[2019-11-17 10:29] szmarczak commented on #934
These both are spec-compliant. There is nothing wrong with method rewriting as of RFC 7231:

Read more here: https://github.com/sindresorhus/got/issues/568#issuecomment-503451992

[2019-11-17 17:25] szmarczak commented on #899
Ok, so I have made progress on this:

Things that do not work:

[code]

Options that can be fixed:

[code]

TODO:

- rename `session` to `electronSession`
- make `options.redirect` constant
- send auth info using `request.once('login', ...)`
- make tests using [`avaron`](https://github.com/bokuweb/avaron)

[2019-11-18 04:17] sindresorhus commented on #899
@szmarczak Honestly, I would prefer us opening an Electron issue about these differences instead of littering the codebase with workarounds. Electron says it's Node.js compatible, so it's up to them to fix it.

[2019-11-18 08:56] sindresorhus commented on #876
Beta 1 is out: https://github.com/sindresorhus/got/releases/tag/v10.0.0-beta.1

The final release is getting closer. The only remaining tasks are https://github.com/sindresorhus/got/pull/928 and https://github.com/sindresorhus/got/pull/935.

[2019-11-18 09:15] arantes555 commented on #899
@sindresorhus @szmarczak I believe there are PRs in electron that will fix most of these issues :
- https://github.com/electron/electron/pull/21099
- https://github.com/electron/electron/pull/21055

I suggest waiting until these are merged, and electron@7.2 is released with these fixes.

[2019-11-18 09:22] gzaripov commented on #876
@sindresorhus what do you think about it https://github.com/sindresorhus/got/issues/876#issuecomment-536603384 ?

In 10.x we will have prefixUrl that doesn't cover cases of base url such as passing url with starting slashes. Also it is not just prefix because got will add slash to it. What kind of problems does it solve then?

[2019-11-18 09:26] sindresorhus opened #936 "Add more tests"
We never have enough tests. There are just so many edge-cases in HTTP and networking that the more the merrier.

It could be useful to look at other popular request libraries and take see if they have tests we are missing:

- [`request`](https://github.com/request/request)
- [`axios`](https://github.com/axios/axios)
- [`node-fetch`](https://github.com/bitinn/node-fetch)
- [`ky`](https://github.com

[2019-11-18 09:31] sindresorhus commented on #923
It's taking a little bit longer than a couple of days, but it's imminent: https://github.com/sindresorhus/got/issues/876#issuecomment-554917473

[2019-11-18 09:33] sindresorhus commented on #899
And for anything not fixed by those PRs or doesn't have an existing issue, we should open new Electron issues for.

[2019-11-18 12:50] yovanoc commented on #876
Since this beta 1 version I have a really weird issue, all my requests with got are failing with this: `ECONNREFUSED 127.0.0.1:443` but all links are not localhost, they are only https remote calls

[2019-11-18 18:57] gajus opened #937 "`request._header` is not present"
#### Describe the bug

 - Got version: ^10.0.0-beta.1
 - Node.js version: v13
 - OS & version: macos

#### Actual behavior

Making HTTP POST request to a resource that returns response:

[code]

Produced an error (?):

[code]

After that Got just hangs.

#### Expected behaviour

Follow `Location` redirect/ return response.

[2019-11-18 19:00] gajus commented on #937
Looks like it is coming from here:

https://github.com/sindresorhus/got/blob/518f0f5906e1fcd38691555b17fb91db643f3d47/source/progress.ts#L77-L86

Looks like whatever it was, doesn't exist in v13.0.1.

[2019-11-18 19:02] gajus commented on #937
Not clear why would the uploadProgress be needed here at all. I am doing FormData POST.

[code]

[2019-11-18 20:46] gregory opened #938 "Emit "error" event if throwHttpErrors is enabled, in order to go through beforeError hook"
#### What problem are you trying to solve?

When "throwHttpErrors" option is set to true, i'd expect to go through the beforeError hook, and it's not.

#### Describe the feature

When turning throwHttpErrors on, we'll be able to capture the http error before the promise is rejected.

#### Checklist

- [x] I have read the documentation and made sure this feature doesn't already exist.

[2019-11-18 20:50] gregory commented on #938
nvm it has been implemented on the master branch :)

[2019-11-18 20:50] #938 closed

[2019-11-18 21:38] gajus commented on #876
Whatever is the change, but now [`http.Agent`](https://nodejs.org/api/http.html#http_class_http_agent)#`addRequest` is invoked without information about the request, i.e. `addRequest` second parameter gets:

[code]

Looks like a bug.

[2019-11-18 21:59] szmarczak commented on #876
@gzaripov

See #783 and https://github.com/sindresorhus/ky/pull/11

@yovanoc @gajus please include some reproducible code. All tests are passing.

[2019-11-18 22:20] szmarczak commented on #937
A RunKit example would be lovely.

[2019-11-18 22:25] szmarczak commented on #937
This is actually really weird because I've studied Node.js source code and couldn't find a single way where `_header` wouldn't be a string.

[2019-11-18 22:28] szmarczak commented on #937
It does that, it just emits a warning.

[2019-11-18 22:34] gajus commented on #937
It didn't. It was just hanging.

I am wondering if this is related to https://github.com/sindresorhus/got/issues/876.

I will try to create a reproducible case.

[2019-11-18 22:40] szmarczak commented on #937
I **did** forget something.

https://github.com/sindresorhus/got/blob/52b7fc58ea0007e55d95f38fb480d7a951a4895e/source/request-as-event-emitter.ts#L203-L219

As you can see, the only case where `request.end()` is not called is when the body is a stream.

So basically I need to ~~revert~~ **fix**:

https://github.com/sindresorhus/got/pull/921/files#diff-7b439d0c6f823422fb34bf344e2e149cL69

because `

[2019-11-18 22:50] szmarczak commented on #937
Basically it is needed to overwrite `request.write`.

[2019-11-18 22:51] gajus commented on #876
After further debugging, my specific case was related to

https://github.com/TooTallNate/node-https-proxy-agent

For some reason when an instance of `node-https-proxy-agent` was configured as agent in `got` options, the original request properties were no longer available to [`global-agent`](https://github.com/gajus/global-agent).

[2019-11-18 22:54] szmarczak commented on #899
Haven't `electron` had this already? :OOOOOOOOOOOOO

[2019-11-18 22:56] arantes555 commented on #899
@szmarczak they had it, they broke it ^^ electron@7 broke a *lot* of things in `net`...

[2019-11-18 22:59] szmarczak commented on #876
We no longer support legacy Url options. If one of the options is present when normalizing URL, it throws. We're going to deprecate [the new] URL options in Got v11 or v12. This is because we're using `request(normalizedUrl, options, responseCallback)` instead of `request(normalizedOptions, responseCallback)`.

[2019-11-18 23:03] szmarczak commented on #876
But `request` normalizes the options and calls `addRequest` with the normalized options so there should be a `pathname` property etc...

[2019-11-19 04:44] sindresorhus commented on #899
Every single Electron release breaks a lot of random things...

[2019-11-19 05:13] sindresorhus commented on #934
@szmarczak Yeah, we could implement an option for this. I think the current default should stay though.

[2019-11-19 05:47] sindresorhus commented on #876
@gzaripov Sorry, I missed your first comment.

'url' must not begin with a slash when using 'prefixUrl'.
It looks weird for me, it is common use case when I make a Transport abstraction in my app and use it in many places with relative urls. And it is important to have leading slash because it gives reader knowledge that this is a relative url.

The limitation is in place to prevent confusion. Let

[2019-11-19 05:48] sindresorhus opened #939 "Document why URL cannot have leading slash"
Borrow text from:

- https://github.com/sindresorhus/got/issues/876#issuecomment-555344208
- https://github.com/sindresorhus/ky/commit/4e0528951a36ebc858db0a0a0a4c62ee032bce56

[2019-11-19 05:50] sindresorhus commented on #876
@yovanoc Can you try to make a minimal test case that reproduces the issue? https://runkit.com/ is good for this.

[2019-11-19 10:21] yovanoc commented on #876
I can't reproduce it in runkit... even in my project I can't find when it happens exactly... i will try more but hope you will find it

[2019-11-19 21:18] yovanoc commented on #876
It seems that when got is imported in a project that also performs raw websocket calls, got throw this error (when we perform the websocket send).

[2019-11-19 21:47] yovanoc commented on #876
Sorry for spamming, actually it's the init() from @sentry/node ... When I call this `init` all calls with got are failing. I hope you will find why :)

[2019-11-19 21:49] gajus commented on #876
Interesting, and might explain my case too. This was only happening in environment where Sentry is enabled.

[2019-11-20 01:14] sindresorhus commented on #876
Sentry does a lot of awful swizzling, from what I can remember. I wouldn’t be surprised if they incorrectly changes an assumption Got depends on.

[2019-11-20 01:35] robbieaverill commented on #417
Hi everyone, I came across this on a hunch that requests were automatically retried. @lukechilds said in [his comment](https://github.com/sindresorhus/got/issues/417#issuecomment-364760887) that:

I have to say I entirely agree. It depends on how you're using this library, but I'd much rather tell my users that the request was rate limited than allow it to infinitely keep retrying. I've disabled i

[2019-11-20 14:30] szmarczak commented on #417
He was referring to retrying on 429 status code

[2019-11-20 16:04] robbieaverill commented on #417
Sorry if I wasn’t clear, so was I

[2019-11-21 19:54] hyperniklas commented on #937
To fix you problem you can [insert](https://github.com/sindresorhus/got/blob/52b7fc58ea0007e55d95f38fb480d7a951a4895e/source/progress.ts#L74):
[code]

**However, did you just stumble upon an old bug?** (I have only analyzed this isolated case, so input values might not be possible)
1) [this._header](https://github.com/nodejs/node/blob/db706da235d80e5dadaab64328bfad9cb313be39/lib/_http_outgoing.js#

[2019-11-21 20:02] szmarczak commented on #937
Sorry, but this is not gonna solve the problem because:

1. sockets can be reused
2. HTTP2 sockets can be used simultaneously

[2019-11-21 20:03] szmarczak commented on #937
and you cannot write directly to a socket

[2019-11-22 00:59] hyperniklas commented on #937
1) I am just citing nodejs source where it explicitly says `// Directly write to socket.`, did you not bother to look at the code/links?
request._header is only null before the first write (or when reset as in the proxy example), so a null check should be made before/during first call before the interval in order to not call this code every time after the first call?
2) yes? The code I am looking

[2019-11-22 12:39] ianbytchek commented on #876
Same issue as @yovanoc, the same code from example. The error doesn't seem to contain request or response body.

[code]

[code]

It looks like there were attempts to reproduce it without much luck. Is there a quick way to test this with webpack? If not, I'll try putting this into a separate project over the weekend. P. S. Also using serverless-offline.

[2019-11-22 12:54] sindresorhus commented on #876
The error contains the request and response, it’s just not enumerable.

[2019-11-22 12:58] ianbytchek commented on #876
I know it should. I tried `error.request` and `error.response` in attempt to find out more and got `null` or `undefined` in both cases, can't remember which one for sure. It seems something goes wrong at the very core.

[2019-11-22 17:36] szmarczak commented on #937
You haven't included any links here.

I'm trying to fix this using a Transform stream. I'll let you know.

This is not a bug in Node. It's just a missing feature that should've been existing from the start.

[2019-11-22 18:46] hyperniklas commented on #937
Maybe you didn't click the links so I made them verbose now, just for you.

[2019-11-22 21:47] #937 closed

[2019-11-22 21:48] szmarczak commented on #937
Anyway this is fixed now, appreciate the help! :)

[2019-11-22 21:49] szmarczak commented on #937
Weird. I was on my mobile and didn't see these. I saw your comment history and you're right - there were links.

[2019-11-22 21:50] szmarczak commented on #937
Thank you guys for a blazing fast response :zap:

[2019-11-22 21:53] szmarczak commented on #876
@yovanoc @gajus Can you try latest master commit? It might be caused by `request._header` but it's not used anymore at all.

[2019-11-22 22:00] yovanoc commented on #876
It's annoying to install from master because we have to manually build got inside node_modules but yes i'm gonna try

[2019-11-22 22:05] szmarczak commented on #876
@yovanoc You can just download Got, run `npm build` and instead of `require('got')` you can do `require('/path/to/local/got')` ;)

[2019-11-22 22:06] yovanoc commented on #876
[code]

that's what I got from master, and yeah that's what I will do from now ^^

[2019-11-22 22:08] szmarczak commented on #876
Stacktrace please?

[2019-11-22 22:14] yovanoc commented on #876
Oh 2 errors now, and I would say that all was fine before beta1 and this master test without any code change.

<img width="1135" alt="Screen Shot 2019-11-22 at 11 11 23 PM" src="https://user-images.githubusercontent.com/7302317/69464118-c414ec00-0d7d-11ea-9b62-1fef59ef3d79.png">

[2019-11-22 22:26] szmarczak commented on #876
Weird... Can you paste the 125 and 152 line of `dist/source/request-as-event-emitter.js` (these point to nowhere on my side)

[2019-11-22 22:28] yovanoc commented on #876
![image](https://user-images.githubusercontent.com/7302317/69464852-d42dcb00-0d7f-11ea-9d3c-9901766aa32a.png)

[2019-11-22 22:33] szmarczak commented on #876
I don't see any `on` property being called here :thinking:
If you could paste some reproducible code, that would be awesome :+1:

[2019-11-22 22:36] yovanoc commented on #876
That's the error thrown at this place, and not at this place I think. It's time for me to go to bed but I will do it later, thanks

[2019-11-22 22:40] szmarczak commented on #876
Ah, #935 is not yet merged so you need to place `console.log(error)` before line 125 ;)

[2019-11-22 22:44] szmarczak commented on #919
Here's the solution, it is in our docs: https://github.com/sindresorhus/got/blob/master/documentation/advanced-creation.md#limiting-download--upload-size

[2019-11-22 22:44] #919 closed

[2019-11-22 22:46] yovanoc commented on #876
<img width="1138" alt="Screen Shot 2019-11-22 at 11 45 08 PM" src="https://user-images.githubusercontent.com/7302317/69465735-3c7dac00-0d82-11ea-874c-1b56a4fe3120.png">

[2019-11-23 00:04] gajus commented on #876
[code]

Likely related to this issue, this code currently exits without executing anything, or at least without ever making a HTTP request.

[2019-11-23 09:35] yovanoc commented on #876
Oh nevermind that was my fault but I think you should maybe throw an explicit error for that because it doesn't fail before it was just ignoring. I had a `cache` in a post method, just removing that and works perfectly

[2019-11-23 11:46] szmarczak commented on #876
Can you include some code please?

[2019-11-23 12:09] yovanoc commented on #876
[code]
I had a cache in this request, just comment it and all works fine now.

Btw,  in the doc:

![image](https://user-images.githubusercontent.com/7302317/69478430-7ab2b400-0df2-11ea-9519-be30f8cade8f.png)

should be `body` not `{ body }` right?

[2019-11-23 12:21] szmarczak commented on #876
No, it should be `{body}` because it's destructuring.

[2019-11-23 12:23] szmarczak commented on #876
@gajus The latest master gives me this:

`RequestError: connect ECONNREFUSED 127.0.0.1:8000` (as expected)

[2019-11-23 12:24] szmarczak commented on #876
@yovanoc Nah, you're right. It should be `body` because there's `.json()` already.

[2019-11-23 12:25] szmarczak commented on #876
@yovanoc What did cause `[RequestError]: Cannot read property 'on' of undefined`? Is it Got-related code or yours?

[2019-11-23 12:26] yovanoc commented on #876
I think is got, like I said I just remove the cache that I put in the post request (my bad) and now all is working perfectly

[2019-11-23 13:08] ianbytchek commented on #876
Also tried putting this in an isolated project and there's some really weird 💩 going on, [Got#876.zip](https://github.com/sindresorhus/got/files/3882466/Got.876.zip) – unfortunately it's a heavy setup with serverless & webpack. To get the crash: `npm run start` and `curl 'http://localhost:3000'`. Observations:

1. Switching to latest alpha works as expected.
2. Also works without the serverless la

[2019-11-23 13:22] szmarczak commented on #876
@ianbytchek I don't have `sls` installed. Can you try to reproduce it with master please?

[2019-11-23 13:22] szmarczak commented on #876
Could you provide a RunKit example? I cannot reproduce it on my own.

[2019-11-23 13:30] gajus commented on #876
I was testing against the latest release.`^10.0.0-beta.1`

I have just tested against the master, and it fails too, but for a different reason:

<img width="1920" alt="Screenshot 2019-11-23 at 13 30 17" src="https://user-images.githubusercontent.com/973543/69479473-68864500-0df5-11ea-94a4-4f42cae9fbd0.png">

There is clearly a problem.

[2019-11-23 13:34] szmarczak commented on #876
@gajus Do you have a server listening on port 8000? What's the source code?

[2019-11-23 14:00] gajus commented on #876
The window on right is an instance of https://mitmproxy.org/ listening on port 8000.

The http://localhost:433 request is the actual intercepted request.

There is nothing in between, just this [code](https://github.com/sindresorhus/got/issues/876#issuecomment-557738788) to make the request and mitmproxy.

I have tested with different proxies, though – it fails with the same error.

[2019-11-23 14:14] #795 closed

[2019-11-23 16:00] paulmelnikow commented on #795
Thanks so much for fixing this! It’s going to make debugging nock much easier.

When you release another beta I’d be glad to take it for a spin.

[2019-11-23 16:49] szmarczak commented on #876
Ok, investigating right now. Thanks for letting me know.

[2019-11-23 16:59] szmarczak opened #941 "Got exists without an error"
First discovered by @gajus: https://github.com/sindresorhus/got/issues/876#issuecomment-557738788

Affects latest `master` branch.

It is needed to run https://mitmproxy.org/

[code]

The response should be an object.

[code]

[code]

[2019-11-23 17:43] szmarczak commented on #941
Found the cause, `https-proxy-agent` doesn't support Node.js 10 API.

Adding `console.log((httpOptions as any).request.toString());` before `handleRequest` gives:

[code]

[2019-11-23 17:43] #941 closed

[2019-11-23 17:43] szmarczak commented on #876
Found the cause, and it's not Got: https://github.com/sindresorhus/got/issues/941#issuecomment-557818133

[2019-11-23 17:52] szmarczak commented on #876
@yovanoc The culprit is [this](https://github.com/nodejs/node/blob/8acb646478e13fb61fc844c6f873032992674ae5/lib/internal/streams/pipeline.js#L23). It seems that [`httpOptions.body`](https://github.com/sindresorhus/got/blob/d0f2dfdd1e3fbec3dba910c4948574253c584305/source/request-as-event-emitter.ts#L181-L186) is undefined in some cases (?).

[2019-11-23 19:02] szmarczak commented on #795
No problem! If there are any enhancements left to be done, just open an issue, we're happy to help :)

[2019-11-23 21:09] szmarczak commented on #876
But that's impossible. Dunno. It'd be best to have some reproducible code.

[2019-11-24 16:49] szmarczak commented on #936
I think we should also document some useful Node options such as `localAddress`.
A guide on how to write your own `request` function would be nice IMO (an example: `http2-wrapper`).

[2019-11-25 02:55] #927 closed

[2019-11-25 05:01] sindresorhus commented on #876
Beta 2 is out: https://github.com/sindresorhus/got/releases/tag/v10.0.0-beta.2

[2019-11-25 16:29] #934 closed

[2019-11-26 10:14] grapehunter opened #945 "Gzip seems not work in my project"
#### What would you like to discuss?
Enviroment:
Running in render process with Electron 7 (But not use Electron.net.)

Code:
`got('http://www.example.com', { decompress: true }).then(r => console.log(r.body));`

Result:
![image](https://user-images.githubusercontent.com/3354458/69620507-73044100-1078-11ea-9d5e-d8b023e145ce.png)

It looks like the gzip data is not being decoded correctly

#### Che

[2019-11-26 11:40] szmarczak commented on #945
What Got version are you running?

[2019-11-26 11:58] grapehunter commented on #945
The latest release version with `yarn install got`, I think it is 9.6.0

[2019-11-26 12:08] grapehunter commented on #945
Is it possible that the relevant code was cleared by yarn clean?
Here is my .yarnclean
[code]

[2019-11-26 13:13] kennethaasan commented on #876
I tested Beta 2, but are getting this error:

[code]

Running on node:12-alpine3.9 (https://github.com/nodejs/docker-node/blob/4f49f67ebd8d577dd7c97dabf5df69e6d947406c/12/alpine3.9/Dockerfile)

[2019-11-26 14:17] grapehunter commented on #945
I have found out the reason.
In get-response.js
[code]
decompressResponse is not a function but a empty object. I don't know why so far

[2019-11-26 20:57] rebolyte commented on #876
Using `10.0.0-beta.2` and TypeScript, there appear to be some missing types:

[code]

[2019-11-27 06:49] sindresorhus commented on #876
@rebolyte That’s a DefinitelyTyped bug: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/34960

[2019-11-27 09:53] szmarczak commented on #945
Glad you've solved the issue! PR welcome :)

[2019-11-27 09:56] szmarczak commented on #945
It used to work some while ago. Now electron support is broken.

[2019-11-27 10:00] szmarczak commented on #876
@kennethaasan This is not a Got issue. Got uses the Node.js 10 API, and some agents don't support it - they overwrite `http.request` and `https.request` with only two arguments: `options` and `callback`, while Got provides `url`, `options` and `callback`.

[2019-11-27 10:15] sindresorhus commented on #876
@szmarczak Maybe we should document in the readme known incompatible agents? And we should include it in the Got 10 release notes.

[2019-11-28 02:10] #945 closed

[2019-11-28 15:20] adityapatadia opened #948 "Change cacheable-request library to custom one"
#### What would you like to discuss?
Is there a way to change the cacheable-request library? If yes, let's document it. If it's not available, can we create some way to allow it?
...

#### Checklist

- [x] I have read the documentation.

[2019-11-28 16:41] szmarczak commented on #948
Duplicate of #875

[2019-11-28 16:41] #948 closed

[2019-11-28 19:37] jgehrcke opened #949 "TS2339: Property 'buffer' does not exist on type 'GotPromise<string>'"
Since I am new to the NodeJS / JavaScript / TypeScript ecosystem I do hope this is not a beginners mistake.

[code]

My code compiles fine when I do not append the `.buffer()`, but I'd actually love to make use of this cute feature, documented as

I use NodeJS 12 and TypeScript 3.7.2, and got 9.6.0.

[2019-11-28 19:39] jgehrcke commented on #949
Interestingly, when I add `responseType: "buffer"` to `options` then `response.body` is still of type `string`, and not a `Buffer`. But still looking into that.

[2019-11-28 20:03] jgehrcke commented on #949
No shit, I fell for this:

[2019-11-28 20:07] jgehrcke commented on #949
`$ npm install got@10.0.0-beta.2` solved this for me (both methods work). Sorry for the noise.

By the way, I _love_ the documentation of this project, in particular compared to the (non-existing, sloppy, unstructured, unprecise) docs of a number of other HTTP clients in the JavaScript ecosystem.

[2019-11-28 20:07] #949 closed

[2019-11-29 07:55] #939 closed

[2019-12-01 08:03] sindresorhus commented on #876
@kennethaasan @gajus Please open an issue on`https-proxy-agent` and `agentkeepalive` about supporting the Node.js 10 API.

[2019-12-01 08:30] sindresorhus commented on #876
Got v10 is finally out: https://github.com/sindresorhus/got/releases/tag/v10.0.0

Open individual issues for new bugs, features, etc.

[2019-12-01 08:30] #876 closed

[2019-12-01 08:31] sindresorhus commented on #923
It's out now: https://github.com/sindresorhus/got/releases/tag/v10.0.0

[2019-12-01 10:41] sylvaindumont opened #950 "json option no longer work with got.stream.post"
#### Describe the bug

 - Node.js version: 12.13.0
 - OS & version: Ubuntu 19.10

`got.stream.post` no longer works with `json` option since #921

#### Actual behavior

a `body` is set in [asStream](https://github.com/sindresorhus/got/blob/master/source/as-stream.ts#L28)
the request now have a `body` and a `json` option and throw in [normalizeRequestArguments](https://github.com/sindresorhus/got/b

[2019-12-01 10:46] szmarczak commented on #950
https://github.com/sindresorhus/got/blob/abdfee258a8a18a9db0f8711250cc2cb6d5fb179/source/as-stream.ts#L22

Should be `options.body || options.json || options form`

[2019-12-01 11:09] xPaw opened #951 "https urls get "ECONNREFUSED 127.0.0.1:443" (https-proxy-agent breaks got without even using it)"
#### Describe the bug

 - Node.js version: v12.13.0
 - OS & version: Windows 10 1909
- Got v10

#### Actual behavior

[code]

For some reason it's resolving any https url to 127.0.0.1. Even changing the port in the uri still tries to connect to 443. `http` appears to work fine.

got@9.6.0 works fine.

#### Code to reproduce

[code]

#### Checklist

- [x] I have read the documentation.
- [x] I have

[2019-12-01 11:13] xPaw commented on #951
Tried the alpha/beta versions.

`10.0.0-alpha.3.2` works, `10.0.0-beta.1` tries to connect to 127.0.0.1.

[2019-12-01 11:27] sindresorhus commented on #951
See https://github.com/sindresorhus/got/issues/876#issuecomment-560072618. This is a not a problem with Got. Please open an issue on `https-proxy-agent`.

[2019-12-01 11:28] xPaw commented on #951
Please note that I'm not passing `https-proxy-agent` into `got` but it still breaks.

[2019-12-01 11:56] szmarczak commented on #951
`https-proxy-agent` overrides `http.request`. Their functions takes only two arguments instead of three. Got uses Node.js 10 API, which is three arguments.

[2019-12-01 11:56] #951 closed

[2019-12-01 12:07] #950 closed

[2019-12-01 19:06] rkrayovskyy opened #952 "Testing with jest and nock times out with new json option"
#### Describe the bug

 - Node.js version: 10.15.3
 - OS & version: OS X 10.14.6
 - Got version: 10.0.1
 - Jest version: 24.9.0
 - Nock version: 11.7.0

After upgrading Got to 10.0.1 from 9.x and following the breaking changes list to migrate, tests are timing out with the following:
`Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout.Timeout - Async ca

[2019-12-01 19:13] rkrayovskyy commented on #952
The moment I submitted this, figured out I also had to remove leading slash to comply with

I guess I got confused that slash still exists in the docs - is that a mistake? Do you want me to put PR up to fix that?

[2019-12-01 19:44] szmarczak commented on #952
Yup, it's a mistake. A PR would be amazing :smiley:

Does removing the `/` fix your issue?

[2019-12-01 23:29] scttcper opened #954 "TypeScript cannot figure out which Got type to use"
#### What would you like to discuss?

With `@types/got` we could use type `GotOptions` and be able to pass this to `got.get(options)` however with v10 the types are `string | OptionsOfDefaultResponseBody` and `OptionsOfDefaultResponseBody` and its friends are not available to import at the root of the project. I was wondering if this was on purpose.

What i'm looking for and not sure how to do wit

[2019-12-02 12:27] darksabrefr opened #955 "Deprecation of path parameter in options in got 10"
Hello,
With got 10, the [`path` option parameter is deprecated](https://github.com/sindresorhus/got/blob/master/source/utils/options-to-url.ts#L40) but the got documentation says options can contain ["Any of the https.request options"](https://github.com/sindresorhus/got#options).
[This node doc page](https://nodejs.org/api/http.html#http_http_request_options_callback) documents the `path` option.

[2019-12-02 12:36] szmarczak commented on #954
I don't understand the example. The URL is invalid.

[2019-12-02 12:39] yovanoc commented on #954
We have this error when we try to do that

![image](https://user-images.githubusercontent.com/7302317/69960126-028e7180-1509-11ea-8bd9-7fa28915259b.png)

The only way I had to manage this is to do an `as const` and don't declare as `GotOptions` like this:

[code]

[2019-12-02 14:43] szmarczak commented on #955
It's definitely not a regression. You should use `pathname` instead (or any URL property).

[2019-12-02 14:45] szmarczak commented on #955
It's made like that to normalize the URL better. Previously Got was using the legacy Url API, which has been deprecated. We need to normalize the URL so you can take a look at it using hooks and modify it if necessary.

[2019-12-02 15:36] scttcper commented on #954
Sorry was being too terse. There would be a bunch of properties and a valid url passed to options, there just isn't a good type to import and use.

[2019-12-02 17:01] dashmug commented on #951
I have the same problem. I'm using `got` in a project using `serverless`.

My app does not use `got` directly but `serverless` uses it. 😢

[2019-12-02 17:01] szmarczak commented on #954
[code]

This is correct. The example:

[code]

fails because it tries to use

[code]

instead of

[code]

The Got interface looks like:

[code]

And if we do:

[code]

it still fails because:

[code]

TS is dumb, because it ignores the fact that we handle `isStream` seperately for `true` and `false`.

[2019-12-02 17:08] szmarczak commented on #954
[Playground Link](http://www.typescriptlang.org/play/#code/JYOwLgpgTgZghgYwgAgCoHsDmmA2EDyADmMOiAM7IDeAUMvcuWHGAK7kBcyARuunnBABuGgF8aNUJFiIUGbHmp0GACnTFSFLvNwENZSgDJqTFuy5gorCKICUFqxBENka-VrRZdREgeTGqUzZOZHgccht7ULhwpzEJBAMwZDAvPG00lABeV3VfDx08H01yW2QsgD4lFygINigQZDySgDog9hFRISA)

[2019-12-02 17:27] szmarczak commented on #954
`true | false` gives `boolean` but `boolean extends true` gives `false` :thinking_face:

[2019-12-02 17:54] szmarczak commented on #954
https://github.com/microsoft/TypeScript/issues/24929#issuecomment-560506225

[2019-12-02 18:10] szmarczak commented on #954
It works if it is `type` instead of `interface`:

http://www.typescriptlang.org/play/#code/JYOwLgpgTgZghgYwgAgCoHsDmmA2EDyADmMOiAM7IDeAUMvcuWHGAK7kBcyARuunnBABuGgF8aNMAE9CKDNjzIAvMgAUq9MVIUu83AS1lKAMmqNmbTsjBRWKUQEplAPmu2ITgD5qNhnWix9IhIjZFMqcxZ2LngccnsnJVdY+K8fTRD-PTxg7XJE115+CEEHEUkZFABRAA9IEAATCAbslBVWsOo6Bhg+LgBybjgofpFRcoQjMGtAvC5a+qaW2ba1DLzdFdyjAq6GZCgINigQZHWjADomKPIx8rAVi970ZWRB4dGJB4UIVS

[2019-12-02 18:28] szmarczak commented on #954
I think I have found a workaround:

[code]

we need to make `GotFunctions` be a `type` instead of an `interface`.

[2019-12-02 18:35] szmarczak commented on #954
I've found a workaround:

[code]

we need to define `Got` first and then cast it.

[2019-12-02 18:58] szmarczak commented on #954
If we extend `GotFunctions` by

[code]

then it would pass but you would have to cast it as `CancelableRequest<Response<string>>` by yourself which is not convenient.

The fix would be to use [`T extends OptionsOfResultA ? A : T extends OptionsOfResult B ? B : ...`](http://www.typescriptlang.org/play/#code/JYOwLgpgTgZghgYwgAgCoHsDmmA2EDyADmMOiAM7IDeAUMvcuWHGAK7kBcyARuunnBABuGgF8aNUJFiIUGbHmp0GAHlT

[2019-12-02 19:03] sindresorhus commented on #954
// @pmmmwh

[2019-12-02 19:29] kennethaasan commented on #876
Btw, my error above is also related to using New Relic (https://github.com/newrelic/node-newrelic)

[2019-12-02 22:08] devMagics opened #956 "get speed on download progress"
#### What problem are you trying to solve?
get speed on download progress
...

#### Describe the feature
this feature is missing get internet connect speed
...

#### Checklist

- [ ] I have read the documentation and made sure this feature doesn't already exist.

[2019-12-02 22:12] rkrayovskyy commented on #952
yes, it does

Here's the PR: https://github.com/sindresorhus/got/pull/957

[2019-12-03 03:03] CyberBotX opened #958 "responseType of buffer is always encoded as utf8"
#### Describe the bug

 - Node.js version: 13.2.0
 - OS & version: FreeBSD 12.0

With version 10 of got (10.01 at the time of writing this), when I set the responseType to `buffer` in my options, it unconditionally encodes the body for the buffer as `utf8` due to the code using `Buffer.from(body)` and not accepting an encoding (possibly also because of `getStream` not being passed an encoding eith

[2019-12-03 06:16] ViceIce commented on #954
Workaround:

[code]

[2019-12-03 10:12] arcanis commented on #876
Fwiw I got this error with `got.post`, and reverting to 9 worked. I don't use agents.

[2019-12-03 12:38] szmarczak commented on #876
@arcanis A runkit example would be lovely.

[2019-12-03 12:49] #952 closed

[2019-12-03 12:51] szmarczak commented on #956
It's not missing, it's just not implemented.

[2019-12-03 13:06] arcanis commented on #876
It doesn't repro on runkit. After investigating a bit it seems to be related to Jest, although I don't know if the bug comes from Jest or Got. Repro:

[code]

**foo.js**

[code]

**foo.test.js**

[code]

Running with `node ./foo.js` yields an HTTP 405 (which is ok), whereas running `yarn jest` yields the error aforementioned ("The "listener" argument must be of type Function").

[2019-12-03 14:30] gajus commented on #876
In all of the reported cases, it is safe to assume that something in your dependency chain is overriding `http.request`. Given that this is such a common problem, I think it is very stubborn of Got maintainers not to recognize that it is a backwards incompatibility issue.

[2019-12-03 14:57] Mathspy commented on #876
v10 is a major version bump (AKA potential backwards incompatible) and @sindresorhus mentioned that it might be a good idea to document incomparable agents/libraries
I don't think there's much the library maintainers can do in this situation besides document incompatible libraries/agents/frameworks

[2019-12-03 14:59] gajus commented on #876
It is literally couple of lines of code to make it backwards compatible. The only reason it is not done, is because Got v10 intentionally drops < Node.js v10 support.

[2019-12-03 15:03] szmarczak commented on #876
Also we want to drop legacy Url support, hence the URL instance (`options.url`).

[2019-12-03 15:07] Mathspy commented on #876
That's an explicit decision from the maintainers that has several clear advantages like less maintenance burden, as well as stability on got v10 for the foreseeable future (instead of being forced to release v11 when they eventually decide to drop support for node v8)
Plus node v8's LTS is dropping at the end of 2019 so there isn't much of a reason to remain compatible with it

[2019-12-03 15:10] gajus commented on #876
Sure, it is just that this will result in one of the two scenarios:

1. People are not going to update to Got v10, because most of the applications will have a dependency in their tree that breaks Got.
2. Someone is going to kick off a fork of got.

[2019-12-03 15:38] szmarczak commented on #876
That's their responsibility to be up to date with Got.

[2019-12-03 15:40] szmarczak commented on #876
The first alpha release was in September so there was plenty of time to adjust the code.

[2019-12-03 15:47] yovanoc commented on #876
@szmarczak Yeah you're right but I know what he want to say, it can be hard in a project with multiple dependencies to tell each author to update their codes

[2019-12-03 15:57] szmarczak commented on #876
You can fix this using a `beforeRequest` hook. Just normalize `options.url` using `urlToOptions` and merge the properties into options.

[2019-12-03 16:11] mwdewey opened #959 "Not compatible with TS/Nock"
Running into an issue with the new version of Got.  When trying to intercept requests with Nock, it will throw this error:

`RequestError: Making a request with empty 'options' is not supported in Nock`
`GotError: Making a request with empty 'options' is not supported in Nock`

This is the whole test case file:
[code]

Downgrading Got to version 9 fixes the issue.  I'm not sure what is causing the

[2019-12-03 16:24] Mathspy commented on #876
I don't see either of these as a bad thing, it's totally okay to rely on got v9 for few more months until dependencies have updated, and during that time it'd be great to open PRs against those dependencies making them compatible!
And it's totally fine for someone to fork `got` temporary! The maintenance burden falls back on them and they can keep the fork until eventually dependencies have all up

[2019-12-03 16:25] szmarczak commented on #959
I can't reproduce: https://runkit.com/szmarczak/5de68bc3c08e9d001dc1ca55

I think that's Jest. It's being already discussed in #876

[2019-12-03 16:25] #959 closed

[2019-12-03 17:59] pmmmwh commented on #954
I am thinking, maybe we should expose some of our internal option types to the outside world? That seems like a good idea to make sure TypeScript infers them correctly. For example, the following works:

[code]

[2019-12-03 18:19] kirillgroshkov opened #960 "Cannot find name 'URLSearchParams'"
#### What would you like to discuss?

I've just upgraded to `got@10` and got this TypeScript error:

[code]

I figured it's because in my `tsconfig.json` `libs` I don't have `dom`. I'm consciously not using `dom` there to avoid importing/using Browser types that I never need in Node.js project (it caused me issues in the past, e.g global dom `Request` type clashes with Express.js `Request` type).

[2019-12-03 18:39] sindresorhus commented on #960
// @pmmmwh

[2019-12-03 18:45] pmmmwh commented on #960
I think I know what is causing this.

[2019-12-03 21:01] pmmmwh commented on #960
Is it possible to share some reproduce-able code? I already know the culprit, but my local setup miraculously still compiles.

@sindresorhus This is actually a regression of https://github.com/sindresorhus/got/issues/876#issuecomment-558813981. Apparently the issue is much deeper - because even though it would compile for Got's project, the augmented global types won't get populated to the users a

[2019-12-04 05:24] bruceCzK commented on #958
I've encoutered this as well. I used to set `encoding` to `null` in 9.x and it seems not working in the new version.

[2019-12-04 08:52] yovanoc opened #961 "JSON Responses"
#### Describe the bug

 - Node.js version: 13.3
 - OS & version: MacOS Catalina

I get `GotError: Unexpected token  in JSON at position 0 in ...` when I add `responseType: "json"` .
But this happens 2 times out of 5 .. and If I remove the responseType and log the body, all is good..

PS: right before this error there is this warning every time: `(node:34140) [DEP0005] DeprecationWarning: Buffer()

[2019-12-04 09:28] darksabrefr opened #962 "Memory leak when using a self-signed certificate"
Node complains about an event emitter memory leak when use got 10 with an https agent (the native one or keep-alive-agent, no matter) to request https adresses with self-signed certificate (and so with `rejectUnauthorized` set to `false`).
I don't really know if the problem is located in got, in http-timer or in defer-to-connect but it seems to be a got internal issue. I think the socket in this c

[2019-12-04 10:32] szmarczak commented on #961
Please fill out the bug issue template, then I'll reopen.

[2019-12-04 10:32] #961 closed

[2019-12-04 10:37] yovanoc opened #963 "Do not use invalid cache"
#### Describe the bug

 - Node.js version: 13.3
 - OS & version: MacOS Catalina

#### Actual behavior

I get `GotError: Unexpected token  in JSON at position 0 in ...` when I add `responseType: "json"` .
But this happens 2 times out of 5 .. and If I remove the responseType and log the body, all is good..

PS: right before this error there is this warning every time: `(node:34140) [DEP0005] Depreca

[2019-12-04 11:49] szmarczak commented on #963
What's the link? If it's a custom server, please attach some code. What's the cache options?

[2019-12-04 12:29] yovanoc commented on #963
Can we exchange by email for links? It's a private project?

[2019-12-04 12:53] szmarczak commented on #963
That won't be neccessary I think. If you open the link in your browser, what's the first character?

Also if you provided the full stack trace, that'd be awesome.

[2019-12-04 12:57] szmarczak commented on #962
I think it happens only when using a self-signed certificate, because `socket.authorized` is `false` in that case: https://nodejs.org/api/tls.html#tls_event_secureconnect

Have you tried with `https://google.com`?

[2019-12-04 13:01] yovanoc commented on #963
The first character is the `{`.

Here's the cache:

[code]

And I will try to provide you a bigger stacktrace, thanks

[2019-12-04 13:04] szmarczak commented on #963
Thanks, I'll now investigate.

[2019-12-04 13:08] szmarczak commented on #963
This is actually weird as Got never does `Buffer(...)`. It does `Buffer.from(...)`...

[2019-12-04 13:10] szmarczak commented on #963
If you can provide HTTP headers, that'd awesome as well (you may leave out some of them if they are sensitive).

[2019-12-04 13:11] darksabrefr commented on #962
Yes, I have tried with `https://google.com`, there's no problem with regular certificates, only with self-signed ones.

[2019-12-04 13:13] yovanoc commented on #963
Response headers? Because I don't pass any for the request

[2019-12-04 13:15] szmarczak commented on #963
yup

[2019-12-04 13:19] yovanoc commented on #963
[code]

[2019-12-04 13:33] #962 closed

[2019-12-04 13:38] szmarczak commented on #960
@pmmmwh It's because the `types` folder is not included in the `dist/source` folder:

<details>
<summary>Screenshot</summary>

![Screenshot](https://user-images.githubusercontent.com/36894700/70146927-87ad8e00-16a3-11ea-8b22-8329056113be.png)

</details>

[2019-12-04 13:39] szmarczak commented on #956
@sindresorhus Should this be a feature?

[2019-12-04 15:02] pmmmwh commented on #960
Yes, because `tsc` won't output those non-module files.

[2019-12-04 15:07] Siilwyn opened #964 "Package size increased three times with version 10"
#### What would you like to discuss?
The package install size has [increased from 300kb to 1.1MB](https://packagephobia.now.sh/result?p=got) all of the sudden with the release of version ten.
There must be possibilities to get this somewhat down I think even though new features were added. :thought_balloon:

[2019-12-04 16:09] sindresorhus commented on #964
It’s because we now bundle the TypeScript definitions. If you look at https://bundlephobia.com/result?p=got, the actual code size only increased slightly.

[2019-12-04 16:13] Siilwyn commented on #964
Ah that explains a lot, appreciate the reply! Would it be an idea to package this in a separate 'types package'? Or is that a bad idea for other reasons?

[2019-12-04 16:23] darksabrefr commented on #962
Thank you @szmarczak for the fast fix, I can confirm that the bug disappeared.

[2019-12-04 17:39] sindresorhus commented on #956
That’s outside the scope of Got. You could pass the Got stream to a package like https://github.com/fent/node-streamspeed or https://github.com/freeall/progress-stream

[2019-12-04 17:45] #956 closed

[2019-12-04 18:57] darksabrefr opened #965 "Unhandled promise rejection with "socket hang up" & timeout"
On `socket hang up` errors, [timeouts are not cleared](https://github.com/sindresorhus/got/blob/master/source/utils/timed-out.ts#L74).
When the `socket hang up` occurs, it is immediately thrown so the promise returned by got immediately rejects. But as timeouts are not cleared, you will get an unhandled promise rejection after the time set in your timeout.

 - Node.js version: 13.2.0
 - OS & versi

[2019-12-04 19:15] szmarczak commented on #965
The check was introduced here: https://github.com/sindresorhus/got/commit/35d547975087e174fe3872b6fb8816a454987db5#diff-7ab9a52ac2fccf434c1a34ce48f2883bR87 and it was correct while using the same check in `request-as-event-emitter.ts`, but it has been changed in #908

[2019-12-04 19:19] szmarczak commented on #965
I think it's safe to remove it now.

[2019-12-04 19:53] #965 closed

[2019-12-04 20:20] szmarczak commented on #960
I don't think `tsc` allows exporting `*.d.ts` files yet...

[2019-12-04 20:50] pmmmwh commented on #960
We would have to either:
1. Manually copy those files into our export, or,
2. Move declaration override code into one of the modules.

Which one do you prefer?

[2019-12-04 21:23] sindresorhus commented on #960
Let’s go with 2.

[2019-12-04 21:40] fspoettel commented on #964
See [TS docs on Publishing](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html). Bundling typings is preferred for projects written in TS which applies here. It results in less maintenance overhead and _does not_ increase the final size of your bundle when importing `got`.

It also does not matter much from a pure disk space perspective in most cases. TS users would hav

[2019-12-05 08:29] darksabrefr commented on #965
Thank you again @szmarczak for your fast fix !

[2019-12-05 09:51] timdp opened #966 "The GET method cannot be used with a body"
#### Describe the bug

 - Node.js version: 12
 - OS & version: Ubuntu

[code]

I ran into this when upgrading to got@10.0.1.

I realize this is up for debate, but to my best knowledge, a lot of HTTP servers _do_ support GET requests with a body. Elasticsearch, for example, heavily uses this. (They also provide an escape hatch with POST though.)

I don't think `got` should be the limiting factor, g

[2019-12-05 12:36] szmarczak commented on #966
Got follows the RFC

[2019-12-05 12:36] #966 closed

[2019-12-05 12:36] szmarczak commented on #966
Also this is a duplicate issue

[2019-12-05 12:42] sindresorhus commented on #966
@szmarczak Can you link to the RFC and the duplicate issue? We should probably document this more clearly in the readme.

[2019-12-05 12:49] timdp commented on #966
I searched for the exact error message but I guess it changed in v10.

The only reason why I encountered the issue is because `body: null` is no longer supported. Hence, it's not that I need to supply a body with a GET request per se. I just thought I'd flag it for others.

I don't think a client library needs to be this strict necessarily, especially if servers support it. There could also be a w

[2019-12-05 13:00] yovanoc commented on #963
@szmarczak  I've done more tests. If I simply remove the cache, all is working perfectly. AND I've tried to do a setInterval to request once a second the .json (with the cache) and 1/2 times the data is completely invalid (weird ascii characters) so I think now the cache must have an issue

[2019-12-05 14:35] szmarczak commented on #966
I can't find the issue, but I remember there was one 100%.

[2019-12-05 14:45] szmarczak commented on #966
I guess we should look at the closed issues and pick the most common ones. Then add these to the FAQ.

[2019-12-05 15:45] szmarczak commented on #963
Could you provide the full error stacktrace?

[2019-12-05 18:18] yovanoc commented on #963
[code]

How can I get more? Isn't good for you?

[2019-12-05 21:09] Siilwyn commented on #964
Alright since this is a "best practice" I'll close this one up!

[2019-12-05 21:09] #964 closed

[2019-12-05 21:22] szmarczak commented on #963
Unfortunately I cannot reproduce this one. If you want to you can email me here:

sz.marczak@gmail.com

I'll be more than happy to help.

[2019-12-05 21:25] szmarczak commented on #963
It seems that it's a zero-width space character: `JSON.parse('​')` gives the same result. Could you try `.text()` instead of `.json()` and log these bodies?

[2019-12-05 21:27] szmarczak commented on #960
`index.ts` perhaps?

[2019-12-05 21:37] yovanoc commented on #963
Just sent to you an email, thanks

[2019-12-05 22:57] szmarczak commented on #963
Replied back

[2019-12-06 04:11] sindresorhus commented on #960
Sure. It’s just a temporary workaround. Doesn’t matter where it lives. We just need to fix it ASAP.

[2019-12-06 06:38] sindresorhus commented on #966
It's a balance. Node.js core is generally fast and loose and doesn't protect you against mistakes. We want to make something human-friendly. GET with a body is almost always a mistake. If enough people need this, we could consider an option to allow it, but it definitely doesn't make sense to allow it as default behavior.

[2019-12-06 07:13] timdp commented on #966
I'm not sure I agree that it's almost certainly a mistake, but I definitely support your reasoning. Thanks for taking the time to discuss this.

[2019-12-06 07:28] sindresorhus commented on #958
Thanks for reporting. This definitely looks like a regression.

It would be helpful if someone could submit a pull request with a [failing tests](https://github.com/avajs/ava/blob/master/docs/01-writing-tests.md#failing-tests). That would help getting this fixed faster.

[2019-12-06 08:07] szmarczak commented on #958
I've already fixed this. I need to write a test and I'll send a PR.

[2019-12-06 09:41] pmmmwh commented on #960
I can push when I'm home (5 hours from now).

[2019-12-06 14:02] seiya-git opened #968 "got@10.0.1 incompatible with proxy-agent@3.1.1"
#### Describe the bug

 - Node.js version: 12.13.1
 - OS & version: Win 10 x64

#### Actual behavior

got@10.0.1: when you request a page with the `proxy-agent` module in the code, the requests goes to the localhost instead of actual ip.

got@9.6.0: works fine.

#### Expected behavior

Return page without error.

#### Code to reproduce

[code]

#### Checklist

- [x] I have read the documentation.

[2019-12-06 14:08] #968 closed

[2019-12-06 15:55] pcwiek opened #970 "Is there a way to preprocess options (query string) before normalization?"
#### How to pre-process options before they undergo normalization?
I wanted to use `qs` to stringify my query object across the board for all calls that use query strings
[code]
so I could call the client like the following:
[code]
and it would all be sunshine and rainbows.

Unfortunately it seems that [`hooks.init`](https://github.com/sindresorhus/got#hooksinit) is called before the _plain_ optio

[2019-12-06 20:21] xPaw opened #971 "Cancel/abort a streaming request without throwing an error"
After upgrading to v10 we get error event `ERR_STREAM_PREMATURE_CLOSE` after calling `request.abort()`, which didn't happen in earlier versions. It seems like there no `cancel` function on the stream returned by `got.stream` either.

You can see the code here: https://github.com/thelounge/thelounge/blob/6032bd16a530859fef9140b6b35ca534b17be916/src/plugins/irc-events/link.js#L338-L364

What's the c

[2019-12-06 20:45] szmarczak commented on #971
`got.stream(...).destroy()`

[2019-12-06 20:47] szmarczak commented on #970
You can't, there's no need too for your use case. Why don't you override `options.url.searchParams` then?

[2019-12-06 20:49] xPaw commented on #971
`destroy` also throws premature close.

[code]

[2019-12-06 21:00] jakesjews commented on #966
My team has to integrate with some third party APIs which unfortunately require a body with a GET. Is it possible to work around this or are we stuck on version 9?

[2019-12-06 21:21] pcwiek commented on #970
Huh, I'm honestly not sure how. `URL#searchParams` is marked as a readonly property and `search` should be overwritten instead, and neither of those are actual objects so I'd have to 'break'/extend the typings a little bit.
Another option is to pass it all through in `context`.

I'll have to weigh my options and pick one 😉

[2019-12-06 21:21] szmarczak commented on #966
@jakesjews I don't think this will be an option. As @timdp has already mentioned, HTTP2 doesn't support GET with a payload anyway.

[2019-12-06 21:28] szmarczak commented on #970
Use `searchParams.append(..)` or/and `searchParams.set(...)`.

Sure. You have to `options.url.search = new URLSearchParams(...).toString();` or just `options.url.search = someString;`.

[2019-12-06 21:30] pcwiek commented on #970
OK, thanks! That answers my question.

Now I'll have to pick one, streamlined approach.

[2019-12-06 21:31] #970 closed

[2019-12-06 21:37] szmarczak commented on #971
This proves the request is aborted:

https://github.com/sindresorhus/got/blob/b962d08188250a442b093f13009b1e1f3633ec27/test/stream.ts#L264-L271

I'll investigate more tomorrow.

[2019-12-06 21:39] szmarczak commented on #971
Also, there's no need to use `got.stream(..)` in your code. You can achieve the same using `got(...).on('downloadProgress', ...)`

[2019-12-06 21:39] szmarczak commented on #971
What about Node 10!

[2019-12-07 04:26] laoshaw opened #972 "name of got is really hard for google search engine"
trying to use got instead of request and immediately realized "got" is very hard to use for googling, anyone has better ideas? I essentially found 0 blogs and tutorials after tried various ways to google them

[2019-12-07 08:53] szmarczak commented on #972
`got http` gives me this repo straight away.

[2019-12-07 08:53] #972 closed

[2019-12-07 10:01] timdp commented on #966
Nuance: the RFC doesn't support it. The RFC also wants you to keep the header size under 2,000 bytes but I've seen URLs way longer than that. Should got also disallow those?

[2019-12-07 17:15] #960 closed

[2019-12-07 18:10] xPaw commented on #971
Can we get the request early? For example, we do not download at all for video/audio mime types.

[2019-12-07 18:24] szmarczak commented on #971
[It's all in the readme, just read it:](https://github.com/sindresorhus/got#streams-1)

[2019-12-07 18:51] xPaw commented on #971
I tried using promises, but it doesn't make it any easier.

If I cancel a request, it throws a CancelError, and I don't see a way of accessing the data it downloaded up until the cancellation.

`gotRequest.then((res) => { console.log("data", res); });` logs `data undefined` after a CancelError catch.

And then after canceling I get `(node:10352) UnhandledPromiseRejectionWarning: GotError: Timeout

[2019-12-07 19:15] xPaw commented on #965
I think it this still happens if you cancel the promise on 10.0.2.

1. Call `promise.cancel()` (for example in downloadProgress)
2. catch `CancelError: Promise was canceled`
3. `then` resolved with first param being `undefined`

And later I'm getting `UnhandledPromiseRejectionWarning: GotError: Timeout awaiting 'request' for 5000ms`

[2019-12-07 19:31] xPaw commented on #965
Furthermore, if a request times out after receiving headers (`response` event), it throws GotError timeout, and then I get a unhandled rejection with premature close (I am not canceling the request anywhere myself.

1. `catch GotError: Timeout awaiting 'request' for 1000ms` <- fine
2. `UnhandledPromiseRejectionWarning: Error [ERR_STREAM_PREMATURE_CLOSE]: Premature close`

[2019-12-07 21:41] xPaw commented on #971
I basically solved thelounge's issues by doing the following:
1. Call set a bool isCanceled and call got.stream(...).destroy()
2. In error event, if isCanceled is set, ignore it
3. Listen to `close` instead of `end`
4. On `end` also call destroy (this doesn't throw an error of premature close)

[2019-12-07 22:37] szmarczak commented on #965
@xPaw A RunKit example(s) would be best.

[2019-12-07 22:49] szmarczak commented on #965
I cannot reproduce: https://runkit.com/szmarczak/5dec2a32477b9a001a784841

[2019-12-08 07:59] xPaw commented on #965
This code reproduces:
[code]

I think `retry: 0` is important for it to happen.

[2019-12-08 08:53] simontong commented on #968
Having same issue, also `tunnel` is not compatible with `got`.

You closed this issue, I'm guessing you were able to solve it? Care to share?

[2019-12-08 08:55] lpinca opened #973 "The `http.request()` `path` option is not accepted"
#### Describe the bug

 - Node.js version: v13.3.0
 - OS & version: macOS 10.15.1

The documentation says that the `url` argument can be a [`http.request()`](https://nodejs.org/api/http.html#http_http_request_options_callback) options object but the `path` option is not accepted as a valid option.

#### Actual behavior

A `TypeError` error is thrown if the `path` option is used.

#### Expected beh

[2019-12-08 09:38] szmarczak commented on #973
You have to split `path` into `pathname` and `search` as these are URL parameters. Legacy Url support was removed in Got 10, hence the `TypeError`.

I see that is a big breaking change, so I'm gonna fix this.

[2019-12-08 09:40] lpinca commented on #973
That's what I'm doing as workaround but documentation is misleading. The same happens with the `auth` options. If `path` and `auth` are not supported it should be documented.

[2019-12-08 10:00] szmarczak commented on #965
@xPaw Indeed. Could you open a new issue about this?

[2019-12-08 10:16] xPaw opened #974 "Canceling a request doesn't cancel the timeout timer (throws a unhandled rejection)"
This code reproduces:
[code]

I think `retry: 0` is important for it to happen.

From https://github.com/sindresorhus/got/issues/965#issuecomment-562922240

[2019-12-08 10:37] xPaw opened #975 "Unhandled premature close after timeout"
[code]

[code]

I was testing against a php script which flushes some data and then sleeps:
[code]

[2019-12-08 11:10] szmarczak commented on #975
I can reproduce this: https://runkit.com/szmarczak/5dec2a32477b9a001a784841

[2019-12-08 14:28] szmarczak commented on #963
Culprit: https://github.com/kornelski/http-cache-semantics/issues/26

[2019-12-08 14:47] lpinca opened #976 "`stream.pipeline(...)` ignores Nock's `No match for request` error"
#### Describe the bug

 - Node.js version: v13.3.0
 - OS & version: macOS 10.15.1

[`nock`](https://github.com/nock/nock) emits an error on the request object when a request is made for a given scope and the URL is not present in the interceptor list. The error is swallowed by `got@10.0.2`.

#### Code to reproduce

[code]

#### Actual behavior

The error is swallowed.

#### Expected behavior

The

[2019-12-08 18:00] lpinca opened #978 "Undocumented breaking change"
#### What would you like to discuss?

There seems to be an undocumented breaking change in `got@10` when the response body is empty and the `responseType` option is set to `'json'`.

[code]

The promise is rejected with a `got.ParseError`.

In `got@9.6.0` the same code with the `json` option set to `true`, returns a promise which is resolved and `response.body` is set to an empty string.

Is the b

[2019-12-08 19:19] szmarczak commented on #978
An empty string is still valid JSON.

[2019-12-08 19:19] #978 closed

[2019-12-08 19:20] szmarczak commented on #978
It has been mentioned in release notes:

![image](https://user-images.githubusercontent.com/36894700/70394743-1d288500-19f8-11ea-95c9-b34757a72214.png)

[2019-12-08 19:54] lpinca commented on #978
From the reply I think I was not clear or the report was not read carefully. My expectation is that no error is thrown when the response body is empty. `got@10` throws.

[2019-12-08 20:02] lpinca commented on #978
@szmarczak can you please reopen or clarify?

[2019-12-08 20:06] Hamper commented on #968
@simontong  #951

[2019-12-08 20:26] lpinca commented on #978
In the sense that now you try to `JSON.parse()` it? Even if you know that it will fail? It wasn't like this in [`got@9`](https://github.com/sindresorhus/got/blob/v9.6.0/source/as-promise.js#L60).

If the change is intended I'm fine with it but it should be documented and no, this

is not enough because the change affects **all** responses not only 204.

[2019-12-08 21:06] #958 closed

[2019-12-08 21:10] szmarczak commented on #978
This is fixed in 071bf5e I'll also write a test for it.

[2019-12-08 21:14] szmarczak commented on #978
This is tested here: d709fd7

[2019-12-08 21:15] szmarczak commented on #978
Sorry for misunderstanding the issue. Indeed, this was a regression.

[2019-12-08 21:16] szmarczak commented on #958
Finally, it took me a few hours to manage this properly :tada:

[2019-12-08 22:02] szmarczak commented on #976
Unfortunately this is a `nock` issue.

Nock's `request` object emits `finish` just before the `error` event. The `stream.pipeline` callback may be called only once. And that happens when `finish` is emitted. `error` is also caught by `stream.pipeline` but it's ignored since the payload was pushed successfully.

It can be simply fixed on our side though:

[code]

Please open a `nock` issue about it

[2019-12-08 23:03] normano commented on #960
I guess the fix here broke it or am I missing some typescript option?

node_modules/got/dist/source/utils/types.d.ts:182:11 - error TS2300: Duplicate identifier 'URL'.

182     class URL {
[code]
    'URL' was also declared here.
  node_modules/typescript/lib/lib.dom.d.ts:16068:13
    16068 declare var URL: {
[code]

  node_modules/typescript/lib/lib.dom.d.ts:16078:11
    16078 interface URLSearch

[2019-12-08 23:16] szmarczak commented on #960
@normano

1. You can use code blocks

[code]

2. What TS version are you using?

[2019-12-08 23:32] normano commented on #960
Typescript 3.7.2

[2019-12-09 02:13] lukechu10 opened #979 "Broken when bundled with webpack"
#### Describe the bug

 - Node.js version: 10.16.0
 - OS & version: Windows 10 build 1909
 - Electron version: 7.1.3
 - Typescript version: 3.7.3

I want to bundle my electron app with webpack to reduce the package size and to improve performance. However, got appears to not work with webpack.
#### Actual behavior

When I get the body of a request, I get tons of Unicode characters which do not mea

[2019-12-09 02:49] gvnn opened #980 "Duplicate identifier `URLSearchParams` and `URL` in compiling `got@10.0.2` with `typescript@3.7.3`"
#### Describe the bug

 - Node.js version: v12.13.0
 - OS & version: MacOS 10.14.6

Error in compiling `got@10.0.2` with `typescript@3.7.3`.  Duplicate identifier 'URLSearchParams' and Duplicate identifier 'URL'. No issues with `got@10.0.1` and `typescript@3.7.2`

#### Actual behavior

Below the errors that `tsc` compiler reports:

[code]

#### Expected behavior

Compile with no errors.

#### Code

[2019-12-09 09:02] kirillgroshkov commented on #960
FYI: for my project it was fixed (thanks!). But I'm not using `lib: "dom"` there

[2019-12-09 09:20] normano commented on #960
There is no reference to "dom" in my tsconfig or anywhere as far as find can find.

[2019-12-09 13:29] szmarczak commented on #979
Could you please include a repository example? I'm not familiar with webpack.

[2019-12-09 13:53] szmarczak commented on #975
I'll soon push a fix. This is caused by `stream.pipeline(...)` which detects sudden stream close.

[2019-12-09 14:18] #974 closed

[2019-12-09 14:18] #975 closed

[2019-12-09 14:18] #976 closed

[2019-12-09 14:18] #971 closed

[2019-12-09 14:25] xPaw commented on #971
So calling `destroy` won't throw an error now, and I no longer need to keep track of my destroy calls, is that correct?

[2019-12-09 14:48] pmmmwh commented on #980
@kirillgroshkov
Mind sharing your `tsconfig`?

@szmarczak @sindresorhus we might have to document in the README to tell people to manually exclude `dom` from their TS environment before this is fixed upstream. I will try to draft something tonight.

[2019-12-09 14:50] szmarczak commented on #973
Fixed in b3f1ac9

[2019-12-09 14:50] #973 closed

[2019-12-09 14:51] kirillgroshkov commented on #980
My tsconfig.json:

[code]

@naturalcycles/dev-lib/cfg/tsconfig.json is:

[code]

[2019-12-09 14:51] szmarczak commented on #980
@pmmmwh @sindresorhus I think we should revert to using

[code]

[2019-12-09 14:52] szmarczak commented on #971
It will throw only if you pass an error as an argument: `stream.destroy(error)`.

So to answer your question: yes, that's right.

[2019-12-09 14:53] szmarczak commented on #971
Note that this is on the `master` branch. You need to wait for a new release.

[2019-12-09 15:18] szmarczak commented on #955
Since it's popular it's been made backwards-compatible: b3f1ac9c9725459f4ffab9baa20b9459d3495fba

[2019-12-09 15:18] #955 closed

[2019-12-09 19:18] pmmmwh commented on #980
The issue is that, by default tsc init with a target of ES5/ES6, which yields the libraries `DOM,ES5,ScriptHost` and `DOM,ES6,DOM.Iterable,ScriptHost`. The `DOM` library includes the URL global type (`window.URL`), which is incompatible with the Node.js version of the global. To deal with the missing global type from upstream (`DefinitelyTyped`), we added a shim to provide that, but because the si

[2019-12-09 19:20] szmarczak commented on #980
IMO yes, it does.

A side note: please don't quote the whole issue, that's unnecessary :wink:

[2019-12-09 19:22] pmmmwh commented on #980
I guess it's up to you / @sindresorhus to see if we're going to use that last resort then.

(Sorry I just clicked quote randomly 🤣 )

[2019-12-09 19:33] szmarczak commented on #980
I'm not as experienced as @sindresorhus, so I guess it's up to him.

[2019-12-09 20:01] lukechu10 commented on #979
I have not commited the changes yet but it should be here: [lukechu10/Minecraft-Box-Launcher](https://github.com/lukechu10/Minecraft-Box-Launcher) on the `webpack-bundling` branch

[2019-12-10 05:01] calvinl commented on #965
I'm not 100% certain yet, but I think I may be seeing this issue (hopefully it's not something in my code). I have a script that makes 100 requests to various URLs and even though I've wrapped the requests in a try/catch block there are some that slip through with a UnhandledPromiseRejectionWarning error after the timeout. Not sure how to reproduce though, but here's some pseudocode:

[code]

I al

[2019-12-10 06:38] szmarczak commented on #965
Please include some reproducible code. That's not enough info to solve your issue :/

[2019-12-10 06:38] szmarczak commented on #965
What are your options?

[2019-12-10 10:43] sindresorhus commented on #976
@szmarczak Can you open a Nock issue to ensure it will be fixed at some point? And add a link to the issue as a comment where the workaround in Got is.

[2019-12-10 10:51] sindresorhus commented on #980
Telling people to modify their tsconfig is not going to be feasible. People are not going to read it and we'll continue to get issues about this and also, Got might be a deep dependency. I guess our only option is to go back to explicitly importing `URL` and `URLSearchParams`...

[TypeScript is such a mess.](https://twitter.com/sindresorhus/status/1197849204137185280)

[2019-12-10 12:04] szmarczak opened #981 "Use `error.code` instead of `error.message` to compare errors"
https://github.com/sindresorhus/got/commit/7b2ccb0d69fca9aba27373ab344f97d389d692f2#r36353721

[2019-12-10 13:07] SkeLLLa commented on #980
@pmmmwh How could you

I've tried different combinations of `target` and `lib` and typescript always included that lib.dom.

[2019-12-10 13:39] calvinl commented on #965
@szmarczak I will - just wanted to raise it first since someone else brought it up but the reproducible bit had cancellations in there. I suspect it may be a race condition, but will keep you posted. Thank you!

[2019-12-10 14:16] sdomagala commented on #951
Hi @szmarczak,
I don't think this ticket should be closed, every project with serverless is going to break after this release.
For now I've just downgraded to got@9 but it would be great to upgrade.

Cheers

[2019-12-10 14:27] liteCarma commented on #951
Which proxy agent will work? I couldn't find it, had to go back to version 9

[2019-12-10 14:29] dashmug commented on #951
@sdomagala The problem is caused by something not related to `got`. If the cause is in `serverless`, you should file a bug issue there.

[2019-12-10 14:32] sdomagala commented on #951
I wonder why `got` picks up dependencies from other packages, seems like an issue with the package itself to me. I understand that breaking change can be something different in API, dependencies of other packages interfering with this one look like a regression to me.

[2019-12-10 14:37] dashmug commented on #951
@sdomagala It's because `node-agent-base` is patching a core NodeJS method. There's nothing `got` could have done to prevent this.

[2019-12-10 14:47] sdomagala commented on #951
I assume you're referring to this patch function mentioned couple comments up: https://github.com/TooTallNate/node-agent-base/blob/1aaf316cc3f7e3bad0616d42b483da61416406fd/patch-core.js . You could just check if `patchMarker` is set and use given API accordingly. So, you could fix this regression in `got` repo or report it somewhere else, that's up to you, but there is a way.

[2019-12-10 16:04] vbourgeois commented on #899
Hello,

I tried to update to the last version of got (10.0.3), and I now have the following errors :

[code]
=>
[code]

And same error with :

[code]

Everything works fine if I remove the `useElectronNet` option.
Any hint on this ?

Thanks.

[2019-12-10 16:18] szmarczak commented on #899
@vbourgeois We are aware that electron support is broken as of now - it's because electron is not compatible with the Node.js `net` API. We'll provide more info when we get it working.

[2019-12-10 16:56] benoitvidis opened #982 "Crashes if agent-base module is installed"
#### Describe the bug

 - Node.js version: 10+
 - OS & version: Ubuntu 18.04.01

When using got v10+ while the `agent-base` module is used (notably required by google sdk via teeny-request), got crashes with a `Cannot read property 'startsWith' of undefined`, i.e.:

[code]

The bug is actually induced by `agent-base` (cf https://github.com/TooTallNate/node-agent-base/issues/38) but could be worked

[2019-12-10 18:26] szmarczak commented on #982
Duplicate of #968

[2019-12-10 18:26] #982 closed

[2019-12-10 18:31] szmarczak commented on #951
@sdomagala Node.js core is not a dependency. Patching it is not a good idea. @dashmug  is right. There's a way to fix that issue, but it's not Got fault. Got 10 is using the Node.js 10 API (Node 8 is being dropped).

That's up to **you**, as Got does nothing wrong at this point.

[2019-12-10 21:12] JamesJGoodwin commented on #980
Maybe it's desirable to just rename your own global declaration from `URL` and `URLSearchParams` to something else or just import it from `lib.dom` since this getting imported by default anyways?

[2019-12-10 22:03] pmmmwh commented on #980
I used to never understand that sentiment, but now I feel the pain.
Fixing this through a PR soon (again).

[2019-12-10 23:39] acinader opened #984 "Difference in cookie handling between got and request"
#### What would you like to discuss?
I have URL I would like to fetch.

The URL we redirect a 'sessionless' request to itself to allow a session cookie to be set.

I was unable to get it working with `got` so I tried it with `request` which worked.

I am not sure how to get the same cookie behavior or what I am missing.

I in addition to testing with the current tough-cookie, I also tried 2.4.3 to

[2019-12-10 23:49] acinader commented on #984
ugh, just found the option: `ignoreInvalidCookies`

[2019-12-10 23:49] #984 closed

[2019-12-10 23:50] sindresorhus commented on #951
This should be fixed now in `node-agent-base` v5: https://github.com/TooTallNate/node-agent-base/releases/tag/5.0.0

[2019-12-11 11:11] c0ncentus opened #985 "Uncomprehensive GotOptions.url"
#### What would you like to discuss?
What is GotOptions.url
...

## Code
[code]
Wait a sec ... Why put 'url' if i can't simply put only GotOption parameter ? ....
As i believe understand the lisibility goal =>
     you can make 'got.post(blabla)' or saying in GotOptions.method ='post'|'POST'
so why you cant do this 😭 ? .... maybe i miss something

So I expected
[code]

or

[code]
#### Checklist

-

[2019-12-11 11:45] c0ncentus commented on #985
[code]

 this code work so 'url' is useless ? 😓

[2019-12-11 15:32] c0ncentus opened #986 "Cannot make post request on local"
#### Describe the bug
make test request on local ...
[code]
 - Node.js version: v12.13.1
 - OS & version: Windows 10

#### Actual behavior
[code]
...

#### Expected behavior
![Sans titre 1](https://user-images.githubusercontent.com/25374826/70634869-41bc7100-1c33-11ea-8763-022e0bcbc9e5.jpg)

...

#### Code to reproduce

[code]
and do some code for post(localhost...., something, jsonObject)

#### C

[2019-12-11 21:17] #986 closed

[2019-12-12 13:06] #980 closed

[2019-12-12 13:16] fengkx opened #987 "RequestError: read ECONNRESET in new version of got"
#### Describe the bug

 - Node.js version: v12.13.0
 - OS & version: Linux

#### Actual behavior
Got throw a ReuestError in request in latest version.
[code]
#### Expected behavior

request success and no throw happen

#### Code to reproduce
This error is thrown when I use got in NodeRSSBot. for example
https://github.com/fengkx/NodeRSSBot/blob/master/middlewares/test-url.js#L17

I am sorry I cann